[2014-12-03 19:41] macdonst opened #1 "Decide on JavaScript API"
Decide on our API before we go about implementing the native side.

[2014-12-18 20:31] mwbrooks opened #2 "Implement JavaScript interface"
Based on #1 discussion

[2014-12-18 20:31] mwbrooks opened #3 "Implement tests for JavaScript interface"
Based on #2 make sure that we have proper tests for the pure-js interface.

[2015-01-08 23:17] timkim commented on #2
Does anyone have any thoughts/comments on the interface so far? Wanted to get a feel before I started on doing the native bits.

[2015-01-08 23:20] mwbrooks commented on #2
I'll give it a look over in a bit

[2015-01-20 00:29] #2 closed

[2015-01-20 00:29] #3 closed

[2015-01-20 00:31] mwbrooks commented on #1
Alright guys, @timkim and I have completed the JavaScript interface along with a test suite. We'd appreciate a review of whether the interface will satisfy your project's needs. Once we're in agreement, then we can dive into the native implementations.

Full API details on the [README.md](https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/README.md).

Example:

[code]

[2015-01-20 03:52] arumsey commented on #1
Hi all,

The API is looking good but I have a few questions that are related to PGE's potential usage.

Where does the zip get synced and unzipped to? Can this be configured?
Can multiple archives be downloaded and independently unzipped later?
Will the API support server authentication?

[2015-01-20 19:35] mwbrooks commented on #1
@arumsey thanks for the input!

At the moment, we're allowing the native plugin to determine where the content is stored. I think a natural choice would be the SHA-1 hash of the src URL. However, if you have think this has issues, then we could allow the user to specify a destination path. If we provide a path, then it should be a relative path that the plugin can append to its chosen storage dire

[2015-01-22 19:48] arumsey commented on #1
Hi @mwbrooks

OK - Before the CS plugin was defined I was planning to add the ability to download multiple zips and then unzip one at a time when the user selected an app to view.  Since the CS plugin will sync and unzip as one operation being able to provide a relative path should solve the issue.  For each app requested the PGE app could pass a relative path to the CS plugin and then just mainta

[2015-01-22 23:36] timkim commented on #1
Should be able to. However, we're trying to write the plugin so it doesn't depend on any other plugin such as File. I think we'll be ok without having the dependency.

I figure we'll save the file in a known file uri  on the native side (eg, https://github.com/apache/cordova-plugin-file/blob/master/doc/index.md#where-to-store-files). It also abstracts away from having to do a per-platform check on

[2015-01-23 14:03] arumsey commented on #1
The plugin doesn't need to have a dependency on File but I just want to make sure there will be a way to remove what the CS plugin puts on the device if I wanted to.

[2015-01-23 18:41] mwbrooks commented on #1
Thanks @arumsey! Again, excellent feedback.

Yea, I think the current sync solution will solve your scenario. You can use contentsync to fetch and store each app, then store each app's File URI so that you can maintain a list of apps to run.

The general rule of `localPath` is that it should be a browser-compatible URI. Sometimes that means different things on different platforms. Regardless, you

[2015-01-23 18:44] mwbrooks opened #5 "Add headers parameter to .sync(options)"
The current use-case is for PGE authentication, which uses basic auth:

[code]

See #1 for discussion.

[2015-01-23 18:53] mwbrooks opened #6 "Allow optional ID parameter to .sync(options)"
When content is first sync'd, it is stored in a unique directory path.

When content is updated, the unique directory path must be known.

Originally, we had hoped to use the SHA-1 of the `src` URL. However, query string parameters make this difficult.

- `http://server.com/app?name=<id>`
- `http://server.com/app?name=<id>&lastUpdate=<timestamp>`

The solution is to provide a unique ID. However, i

[2015-02-02 23:31] #5 closed

[2015-02-02 23:31] #6 closed

[2015-03-06 04:11] macdonst opened #7 "Change id in plugin.xml"
Hey,

Can we change the plugin ID from "com.adobe.phonegap.content-sync" to "com.adobe.phonegap.contentsync" as package names can't have hyphens in Java?

[2015-03-06 04:21] mwbrooks commented on #7
Yup that's fair! Let's just ensure that the iOS and WP code bases work
after the ID change!

On Thursday, March 5, 2015, Simon MacDonald <notifications@github.com>
wrote:

[2015-03-06 04:51] macdonst opened #9 "LICENSE file"
Do we need a LICENSE file for this repo? Do each of the source files need to include the license header?

[2015-03-06 07:32] mwbrooks commented on #9
For PhoneGap projects, we usually have a LICENSE for Apache 2.0 and a
NOTICE if third-party libraries are vendored. We don't bother adding the
license to every header.

On Thursday, March 5, 2015, Simon MacDonald <notifications@github.com>
wrote:

[2015-03-08 03:13] macdonst commented on #7
@mwbrooks Yeah, that's what I'm waiting on. Had some emergency stuff to take care of for Marketing Summit for the AEM guys and didn't get a chance to talk to @imhotep and @timkim.

[2015-03-08 03:18] macdonst commented on #9
I added a LICENSE and NOTICE file. If anyone is using 3rd party libs, add them to NOTICE.

[2015-03-08 03:18] #9 closed

[2015-03-30 12:46] etiennea opened #10 "Can this be used to update the app without passing by the app stores?"
I see this plugin works, but the files are in /Documents. They must be moved elsewhere to replace the index.html?

[2015-03-31 23:39] mwbrooks commented on #10
We're still working on this plugin, so everything hasn't been finalized. As it stands, when the `complete` event fires, it will return a `data.localPath`. This path will be different on every platform, but it's the persistent path to where your app is stored and the file path is formatted to be compatible with the browser. As a result, you should be able to point a Cordova browser to `data.localPa

[2015-03-31 23:39] #10 closed

[2015-04-01 12:59] etiennea opened #11 "I keep getting an error on 97% on iOS"
2015-04-01 14:56:04.282 myapp[7801:3871780] Sync Failed - *** -[NSURL initFileURLWithPath:]: nil string parameter

[2015-04-01 13:00] etiennea opened #12 "When the files already exist on iOS stops on 50%"
I think the zip operation cannot overwrite or something

[2015-04-01 17:07] mwbrooks commented on #11
@etiennea thanks for kicking the tires! Any chance that you can provide us with more detail so that we can create the issue? A full log would help along with the source package that you're using and whether you're testing on a simulator or device. /cc @imhotep

[2015-04-01 17:26] imhotep commented on #11
Yes! All of that and more please! Especially I want to see what your JS code looks like ! Thanks!

[2015-04-01 17:27] imhotep commented on #12
Please share the javascript you're trying to run. Thanks

[2015-04-01 17:34] etiennea commented on #11
My log is here

2015-04-01 14:55:49.437 president[7801:3871618] Downloading and unzipping from https://github.com/timkim/zipTest/archive/master.zip
2015-04-01 14:55:49.448 president[7801:3871618] THREAD WARNING: ['Sync'] took '10.441895' ms. Plugin should use a background thread.
2015-04-01 14:56:03.730 president[7801:3871824] Task: <__NSCFBackgroundDownloadTask: 0x144519380>{ taskIdentifier: 1 }

[2015-04-02 04:45] purplecabbage commented on #7
Class and variable names should not be dependent on plugin id. You can call the Java class whatever you want, as long as it matches what's in plugin.xml
If this was a restriction then cordova-plugin-device would be broken, along with half the core cordova plugins.
If you are renaming this, it should probably have an id of phonegap-plugin-contentsync to fit in the npm world.

[2015-04-02 12:29] etiennea commented on #12
I have posted my js in issue #11 don't see anything wrong with it. It just get stuck on 50% the second time I do it.

[2015-04-03 16:27] etiennea commented on #11
Any idea? Do you need more info?

[2015-04-03 17:33] imhotep commented on #11
@etiennea Can you tell me if the sample app provided with the plugin (under sample/) works for you ? Excuse the language in it btw.

[2015-04-03 22:05] timkim opened #13 "Error in downloading a zip from URL on iOS"
I keep on running into this issue on my iOS device:
iOS 7.1.1
iPhone 4S

Using `phonegap-plugin-contentsync` at this commit: https://github.com/phonegap/phonegap-plugin-contentsync/commit/0d97497b092c2ac913dfd858cd9098d71550e4ca

[code]

[2015-04-03 22:21] imhotep commented on #13
This might be only on iOS 7. There might be a workaround. I will be looking into it.

[2015-04-03 22:56] timkim commented on #13
That got it - thanks Anis!

[2015-04-03 22:56] #13 closed

[2015-04-03 23:11] timkim opened #14 "Error in downloading a zip from URL on Android"
When I initiate a download on Android it throws a puzzling error:

[code]

[2015-04-06 10:57] etiennea commented on #11
Yes with the new update it works now. Small bug is that under 50% when I download a file a second time it says 1234042 well huge numbers rather than percentages. Looks like the number of bytes or smth.

[2015-04-06 10:57] etiennea commented on #12
Works not still a small bug see #11

[2015-04-06 10:57] #12 closed

[2015-04-06 18:42] macdonst commented on #14
Okay, for some reason in Java if you call File.createTempFile(String prefix, String suffix, File directory) the call will fail if "prefix" is less than 4 characters. I have no idea why they coded it this way and I don't care to look through the source. I now pad the prefix so it is always greater than 4 characters.

[2015-04-06 18:50] timkim commented on #14
Hrm, it appears there are some more errors:

[code]
Looks like it starts the download but finishes at size 0?

[2015-04-09 11:50] #11 closed

[2015-04-09 11:51] etiennea opened #15 "Percentage is very large number > 1000"
Small bug is that under 50% when I download a file a second time it says 1234042 well huge numbers rather than percentages. Looks like the number of bytes or smth.

[2015-04-16 21:53] timkim commented on #14
Oh this issue has been fixed I believe from this commit: https://github.com/phonegap/phonegap-plugin-contentsync/commit/2beebfe9e93eb6457661f43c8da053795b468338

Whatever Simon did in the refactor makes it work!

[2015-04-16 21:53] #14 closed

[2015-04-22 23:26] timkim opened #16 "Need to set error timeouts on connection"
Whenever syncing to an url that doesn't actually return anything, sync will wait forever and not error out.

[2015-04-22 23:55] timkim commented on #16
This is for iOS btw. I thought android might have the same problems but it just takes awhile for it to timeout.

[2015-04-23 18:06] imhotep commented on #16
What should be the timeout ?

[2015-04-23 19:59] timkim commented on #16
Hrm - 15 secs?

[2015-04-24 21:10] mwbrooks opened #17 "Add Bithound Badge"
Add some passive code analysis to this project.

[2015-04-24 21:10] #17 closed

[2015-05-18 15:32] cfjedimaster opened #18 "Doc issue?"
The first example shows

    var sync = ContentSync.sync({ src: 'http://myserver/assets/movie-1', id: 'movie-1' });

but later the docs say that all resources should be zipped. Would it help reinforce the fact if you used a URL that makes it more clear?

i.e.

    var sync = ContentSync.sync({ src: 'http://myserver/assets/movie-1.zip', id: 'movie-1' });

[2015-05-18 15:34] cfjedimaster opened #19 "When is sync fired..."
So, I will admit to not reading every word of the readme.md and if I missed this, I apologize. Is the plugin doing a HEAD against the URL and checking the date against an internal date before it fetches the content?

If so, should there be support for an event/status/etc of "I don't need to download this."

[2015-05-18 22:56] macdonst commented on #18
Good point but as long as the endpoint produces a application/octet-stream mime type that can be verified as a zip when we download it, it doesn't really matter what the end point is.

[2015-05-19 00:26] timkim commented on #19
Hi @cfjedimaster

The plugin isn't checking the date against anything - that's up to you to implement. Basically if you do a basic sync call like `var sync = ContentSync.sync({ src: 'http://myserver/assets/movie-1', id: 'movie-1' });` , it is always going to retrieve whatever zip is being returned at that src url you defined.

In the `PhoneGap Developer App`, we have an autoreload feature that det

[2015-05-19 00:28] #16 closed

[2015-05-19 01:16] cfjedimaster commented on #19
Interesting. Does it make sense to make this more clear? I kinda assumed it *was* using some intelligence in terms of when to sync. I think it makes sense to not, but as I said, I just assumed it was.

[2015-05-19 01:17] cfjedimaster commented on #18
That's fair, but I'm also of the mind of making things as obvious as
possible. ;)

On Mon, May 18, 2015 at 5:56 PM, Simon MacDonald <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter: raymondcamden

[2015-05-19 13:34] cfjedimaster opened #20 "Do you need to unzip?"
The docs for the complete event seem to imply that the plugin will unzip for you. I think it needs to be made more clear. To be honest, the section that begins: "ContentSync.unzip || Zip.unzip - ContentSync.download" is confusing.

For example: "However, it supports the same interface so you don't have to install both."

Both? So am I supposed to install another zip plugin? Or are you saying Conte

[2015-05-19 13:44] cfjedimaster commented on #20
Oh wow, it does NOT unzip. I really thought it did.

[2015-05-19 13:47] cfjedimaster commented on #20
And my first attempt to unzip failed, probably cuz I passed a string for destinationdir:

		ContentSync.unzip(data.localPath, "kittenimages/", function() {

[2015-05-19 13:53] cfjedimaster commented on #20
Ok, I apologize for the noise. data.localPath is a directory - it was so long in my Safari console I had assumed it ended with my zip and it was just the file.

[2015-05-19 14:10] cfjedimaster commented on #20
Still not having any luck actually using any of these resources though. Here is what I've tried:

	sync.on('complete', function(data) {
		console.dir(data);
		var imageUrl = "file://" + data.localPath + "/BXb4gfYIEAAZNcO.jpg";
		console.log(imageUrl);
		imageDiv.innerHTML = "<p>ray test <img src='" + imageUrl+"'>";

	});

[2015-05-19 14:25] cfjedimaster commented on #20
I've even tried making a directoryEntry object from data.localPath, but it fails too. I've completely been unable to actually use any assets from the zip so far. :\

[2015-05-19 14:39] cfjedimaster commented on #20
Ugh, this is so frustrating. So is data.localPath a directory? Is it the zip file I downloaded? I've tried to open it as a dir (failed) and a file (failed) and nothing seems to work.

[2015-05-19 15:15] cfjedimaster commented on #20
AHAH! Ok, so the issue was *how* I zipped. I zipped the directory in OSX by right clicking. This made a zip file with 2 entries, a _MACOSX type thing (not the exact name) and the folder itself. It was NOT a zip of images where each image was at root. I had to do a lot of digging but that I finally got it working so that given I've used ID kittenZip, I can easily address an image like so:

		var im

[2015-05-19 15:26] cfjedimaster opened #21 "Browser compatible path"
The docs for data.localPath say this, "However, it is guaraneteed to be a compatible reference in the browser."

Is that really true? data.localPath was a full path, /stuff/stuff/stuff, *not* a file:// path, so technically it isn't addressable by the browser.

[2015-05-19 20:09] timkim commented on #20
Hi @cfjedimaster

Ya, sorry - the docs could definitely be more clear on how to use. The whole zipping of an archive and what it should look like on unzip even caused us troubles when we were developing it - seems like everyone has their own idea how that should look. And to answer a few q's from above:
1) Do you need zip?
 - No, the plugin comes with an unzip lib for all the platforms we support.

[2015-05-19 23:38] macdonst opened #22 "Publish plugin to npm"

[2015-05-20 09:34] hicksy opened #23 "Configure timeout of sync request"
Is it possible to increase the timeout period?

Found on poor connection I'm getting an error timeout after ~ 10 seconds (60% way through zip download)

[2015-05-20 21:09] timkim commented on #23
We can definitely do that. Which platform has the quick timeout? I think they are a little different on all the platforms.

[2015-05-20 22:45] imhotep commented on #21
We were debating this not too long ago. I think we should use the file protocol as well just because it's directly useable by the File API if anything. The current path (with no file:// prefixed) should still work in the browser though…

[2015-05-21 01:34] bardu commented on #20
Are there any limits on the size of the zip file?

How is the unzip performance? From using the cordova-plugin-zip I know it can take minutes to unzip a folder with a couple of thousands of small map tiles.

[2015-05-21 01:39] cfjedimaster commented on #21
Ah, to be fair, I didn't try to do use the value directly as an img src.
When I saw the / path, I just assumed it wouldn't work.

On Wed, May 20, 2015 at 5:45 PM, Anis Kadri <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcam

[2015-05-21 05:46] purplecabbage commented on #21
file:// is not portable to all devices.  Something like: cdvfile://localhost/persistent would make more sense.
This seems more like a question than an issue ...

[2015-05-21 09:47] hicksy commented on #23
Thanks, it will be a useful addition.

I was working with the iOS platform at the time.  (was only running in Simulator if that matters?)

[2015-05-21 10:45] mwbrooks commented on #23
Ideally, we should standardize the timeout across all platforms (constant
variable) and allow a sync task to customize the timeout for their own
needs (using the options object).

On Thursday, May 21, 2015, hicksy <notifications@github.com> wrote:

[2015-05-21 20:01] imhotep commented on #23
yeah I agree it should be customizable with a reasonable default on all platforms. Currently it's 15 seconds on iOS and Android I believe.

[2015-05-21 22:44] macdonst opened #24 "Plugin should also clobber zip and install itself as zip.unzip"
add support for `window.zip`

[2015-05-21 22:45] macdonst opened #25 "unzip should return result code"
ensure `unzip` returns a value of `0` on a successful unzip. From zip plugin docs

[code]

[2015-05-21 22:46] macdonst commented on #15
@etiennea what platform(s) did you see this on can you give us a bit more detailed reproduction scenario?

[2015-05-21 23:04] hicksy opened #26 "Optional additional sync'd folders"
I think it would be useful if we could specify additional folder(s) to sync over along with ```cordova.js```,```cordova_plugins.js``` and ```plugins/``` when using ```options.copyCordovaAssets: true```

A zipped ```www/``` folder will often contain assets that don't often require updating, so unnecessary to keep including these in the zipped folder.

(e.g fonts, large JS libs such as ionic )

As a

[2015-05-21 23:29] etiennea commented on #15
This was quite a few versions ago, might have been fixed. Basically during the unzipping it was displaying the amount of bytes or smth.

[2015-05-21 23:29] #15 closed

[2015-05-22 00:33] imhotep commented on #26
Yes. We will be adding an option to copy over the whole app (not only cordova assets) to newly synced folder before applying update.

[2015-05-22 00:35] #24 closed

[2015-05-22 00:46] imhotep commented on #20
No (virtual) limit for the size of the zip but obviously the bigger the slower it is to extract.

same performance as cordova-plugin-zip

[2015-05-22 10:58] cfjedimaster commented on #20
While I know there is no hard and fast rule, I suggest the docs at least
give a warning about watching the size of the zip and perhaps giving some
guidance to how big is too big.

On Thu, May 21, 2015 at 7:46 PM, Anis Kadri <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Ema

[2015-05-22 15:09] macdonst commented on #7
@purplecabbage good call, I made that the ID when I fixed this issue. Submitting to NPM later today.

[2015-05-22 15:09] #7 closed

[2015-05-22 18:37] mwbrooks commented on #21
Each platform should be free to use whatever path works best. There should be no guarantee that the same path will be used by all platforms, since each platform can store the assets in different places.

The only requirement is that the returned path can be correctly referenced in the web browser (as a linked URL, image source, etc).

[2015-05-22 19:29] macdonst commented on #22
https://www.npmjs.com/package/phonegap-plugin-contentsync

[2015-05-22 19:29] #22 closed

[2015-06-01 10:31] jskrzypek commented on #18
@cfjedimaster you have a good point, but this might lock in people to think that they can only point to `.zip` endpoints. I think it'll do the same job of making things extra obvious if there's just a short comment before or after the first line of the example. This could work
[code]

[2015-06-01 11:02] cfjedimaster commented on #18
I think more people will use something.zip then somethingThatIsAZip, but
I'll not argue the point anymore. :)

On Mon, Jun 1, 2015 at 5:31 AM, Joshua Skrzypek <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for MobileFirst at IBM

Email : raymondcamden@gmail.com
Blog : www.raymondcamden.com
Twitter

[2015-06-01 16:41] #25 closed

[2015-06-02 08:39] kaansoral commented on #20
@cfjedimaster thank you for the debugging, I was hoping it would solve my issues as well, yet my first attempts failed

First of all, what's the "id" for? - I considered that it could be the zip folder name, but i'm guessing that's not the case

I've tested both naked zip files or foldered zip files, none worked

Can't import a script that I contentsync from a zip, I've also tested appending "file

[2015-06-02 17:52] lpsouza opened #28 "Missing Command Error"
I'm using Visual Studio 2015 RC to a project in Cordova and decided to use the ContentSync plugin to sync my files. I made a compilation for *Windows Phone (Universal)* and when I try to use the plugin, it appears as return on error: **Missing Command Error**.

I tried to debug the Sync.cs but could not figure out something useful.

Anyone ever been in this situation?

[2015-06-02 21:20] imhotep commented on #20
@kaansoral the `id` is the extract folder indeed. On `complete` you get a full path to that `id` folder. In a future version you will get a `file://` based URL. If by `naked` you mean flat (no subfolders) then the content of your archive will just be extracted to `PERSISTENT_STORAGE_PATH/ID` and you can access the content of your archive with that path. If your zip archive has subfolders than obvi

[2015-06-02 21:48] timkim opened #29 "Error codes needed"
So in the [PhoneGap Developer App](https://github.com/phonegap/phonegap-app-developer), we're getting a number of error reports where users are unable to connect to the server, unable to download zips on their network, unable to unzip zips, etc.

Currently, `phonegap-plugin-contentsync` only returns an error when something somewhere fails so it'd be nice to have some proper error codes being retur

[2015-06-03 10:55] kaansoral commented on #20
Thanks for the info :)

I've finally managed to solve the issue for my usage, here are my notes:
1) file:// gets prepended to the /User* folder, I was making it file://User instead of file:///User as it should have been
2) although I was just zipping files, the folder was automatically adopted, which I didn't notice (I'm using the "zip" command, I thought specifying files would zip them at the top

[2015-06-03 21:55] timkim commented on #29
Oops - forgot to hashtag the issue number for trackback. I'll link it here instead: https://github.com/phonegap/phonegap-plugin-contentsync/commit/064eed040fb5f7caf9ae2e1ed5d46525e9666336

[2015-06-04 00:10] imhotep commented on #26
@hicksy https://github.com/phonegap/phonegap-plugin-contentsync/tree/init

This will make it to master soon

[2015-06-04 17:43] imhotep commented on #19
@cfjedimaster it is very app specific and can't be implemented by the plugin to cover every use case. I am going to close this issue for now.

[2015-06-04 17:43] #19 closed

[2015-06-04 17:44] #20 closed

[2015-06-04 17:44] #1 closed

[2015-06-06 17:02] kaansoral opened #30 "iOS Simulator behaviour"
How does this plugin supposed to behave on the iOS Simulator?

I persist the contentsync folder with localStorage, currently, on the simulator, the contentsync folder is missing

/Users/me/Library/Developer/CoreSimulator/Devices/A7BE80E3-0BEF-48DD-81CA-F48A0FED3DB2/data/Containers/Data/Application/6E81D19F-2349-4D3E-9C4A-85831EF3EED3/Library/mlib/
is the folder
A7BE80E3-0BEF-48DD-81CA-F48A0FED3DB2

[2015-06-06 17:09] kaansoral commented on #30
After researching the issue, I'm guessing it might be because the simulator session wasn't saved and the simulator terminated before it did, as far as I read the simulator runs on memory and persists the storage periodically or on demand (?)

[2015-06-07 02:40] imhotep commented on #30
@kaansoral the reason is because Apple doesn't want you to store/rely on the UUID of your application. The best way in your case is to set `options.type` to `local` which would return the path to the local copy of your folder (by id) if it exists or would act as "replace" if it doesn't (which means download/extract/..).

[2015-06-07 15:23] kaansoral commented on #30
Thanks, it's perfect :)

I didn't pay attention to the "local" option when I was reading the documentation, it's certainly a very well thought feature

I was caching the path myself, but now I'm just calling the ContentSync plugin with the "local" option if there is a cached flag in localStorage

[2015-06-08 10:40] hicksy commented on #26
Great

Does this copy the root app into the synced folder prior to unzip? And therefore we will be able to overwrite folders by including in the zip?

Also, assuming the root is always the original root of app as opposed to pointing to last synced folder?

[2015-06-08 12:06] macdonst commented on #30
@kaansoral can we consider this issue to be resolved? If so feel free to close it or leave a comment indicating it is resolved.

[2015-06-08 13:15] kaansoral commented on #30
Sorry, it's resolved, thanks :)

[2015-06-08 13:15] #30 closed

[2015-06-09 03:05] macdonst opened #31 "Need to clear cache on Android"
On Android, when you redirect to reloaded content the web view has cached it and does not feed you the latest html/css/etc. Need to clear cache when we do a content sync.

[2015-06-09 03:10] #31 closed

[2015-06-10 14:51] andrecardoso opened #32 "Will Apple reject my app if I use this plugin?"
Hi,

According to Apple's submission [guidelines](https://developer.apple.com/app-store/review/guidelines/#functionality), item 2.7:

Has someone submitted an app that uses this plugin with success?

[2015-06-10 16:04] shazron commented on #32
It is allowed. See https://developer.apple.com/programs/terms/ios/standard/ios_program_standard_agreement_20140909.pdf section 3.3.2

[2015-06-10 19:14] mwbrooks opened #33 "Disable Caching on iOS UIWebView Requests"
There is a bug that causes cached content to be returned instead of the new content delivered by content-sync. You can recreate this issue by:

- Viewing content delivered by content-sync
- Using content-sync to replace the content (using the same `id`)
- Navigate to the new the new content. In this case, you will see the old content.
- This must be a referenced file, such as an image or script.

[2015-06-10 22:30] mwbrooks opened #34 "Does Android clearCache affect localStorage or sessionStorage?"
In a recent commit to Android (1f82930e03d5d3c5267664f5e24b4cfaa651ee58), we clear the browser cache to ensure that the last files are always retrieved by the browser.

We should ensure that this does not affect the application state - `localStorage` or `sessionStorage`.

[2015-06-10 22:34] mwbrooks commented on #34
I altered the Hello World app to report the current app state and then update the state:

[code]

Multiple reloads continue to keep the `localStorage` and `sessionStorage` state. The `document.cookie` value is always undefined. _However, this appears to be normal for Android (?)._

Closing the PhoneGap Developer App, relaunching, and reconnecting to the server will retain the `localStorage` state

[2015-06-10 23:31] macdonst commented on #34
@mwbrooks My initial reading of the clearCache method indicated it would not mess with localStorage but I will run your test and report back.

[2015-06-10 23:32] mwbrooks commented on #34
Thanks man! No rush - aim for tomorrow morning?

[2015-06-10 23:33] #29 closed

[2015-06-11 00:01] #33 closed

[2015-06-11 14:23] macdonst commented on #34
@mwbrooks yup, verified that local storage and session storage persist post the Android call to clearCache.

[2015-06-11 14:23] #34 closed

[2015-06-15 23:43] imhotep opened #35 "[iOS] return same root path as File API root path"
On iOS the root is `<APP GUID/Library/files but sync puts the data in <APP GUID/Library/<app id>`.

On Android the root is `<APP GUID/files/files and sync puts the data in <APP GUID>/files/files/<app id>`

[2015-06-16 00:25] imhotep opened #36 "[iOS] deleting archive after extracting it ?"
No point in keeping it around since it's never used again. Is it ?

[2015-06-16 21:23] #35 closed

[2015-06-16 21:25] #36 closed

[2015-06-17 13:55] wroquet opened #37 "Can't download on ipad"
I use this plugin in my cordova project to download a zip of images, works fine on emulator, but i encounter problems in a real device :

the download time out after around 20 seconds with the following error :
<__NSCFBackgroundDownloadTask: 0x16691bc0> completed with error: The request timed out.
here is my snippet code :
http://pastebin.com/rJmj7BUh

my logs on the "progress" event shows negativ

[2015-06-17 14:50] kaansoral commented on #37
It works for my with the simulator and an ipod, but let me test with an ipad too, what is your ipad model / os version?

[2015-06-17 15:31] wroquet commented on #37
i'm on an Ipad 2 with IOS 7

[2015-06-17 22:34] imhotep commented on #37
@wroquet Can you share the URL to the archive (or another archive that triggers this issue) ? There shouldn't be any negative values for progress. I wasn't able to reproduce your problem.

[2015-06-18 16:30] macdonst commented on #37
@wroquet Two things, 1) how big is the file you are attempting to download? and 2) can you re-test with the latest version (1.1.2) of the content sync plugin?

[2015-06-18 17:57] #32 closed

[2015-06-18 17:59] imhotep commented on #26
@hicksy Yes and Yes. You can try it out now. It's in master and npm (1.1.3). iOS only for now.

[2015-06-18 23:01] macdonst commented on #26
@hicksy @imhotep Android works too.

[2015-06-19 21:38] imhotep commented on #26
ah cool so I guess I can close this :)

[2015-06-19 21:38] #26 closed

[2015-07-02 02:50] hashg opened #38 "Download inside a specific folder"
My scenario is
`app.zip`
`sub01.zip`
`sub02.zip`

Now I want to first download `app.zip`, then unzip `sub01.zip` and `sub02.zip` inside `app` folder.
[code]

How can I do it? This allows me to add `sub03` or `sub04` later in future.

[2015-07-06 14:31] macdonst commented on #38
Try the following:

[code]

[2015-07-08 09:42] revolunet commented on #37
@macdonst is there a size limitation or known issues with large files on iOS ?

[2015-07-08 09:43] revolunet commented on #21
not sure if this will persist but we're using wkwebview plugin and thus we need to be able to convert the `localPath` to a `http` one from the local server too

[2015-07-08 11:17] ravi155 opened #39 "copyCordovaAssets"
Hi,

firstly i'd like to tell how much i like your plugin! Grate work!

On iOS i managed to do everything i desired (have 2 separate html files, one is main application second is downloader)
When app detects new version on server goes to downloader, it downloads new content, then copy cordova assets, and redirects to this new content.

iOS works perfectly. Android not so much.
New application down

[2015-07-08 12:03] denisbabineau commented on #39
I don't know if iOS does the same but I've noticed that on Android it copies the content in the 'www' sub-foldler. (i.e. if you pass in id:'app', you'll find app/www/cordova.js) I would have expected it to copy in app/cordova.js myself otherwise it means you need to nest your content (at least your main html) in a 'www' sub-folder in your archive. This might be a bug?

[2015-07-08 12:05] revolunet opened #40 "download zip and output folder with type=local"
Hi,

I use this (great) plugin to download assets for an existing application and i've set the `type` param to `local` to prevent existing files to be re-downloaded.

`var sync = ContentSync.sync({ src: url, id: 'programs/xxx-2', type: 'local', copyCordovaAssets: false, headers: false });`

The zip gets extracted to `Library/files/programs/xxx-2` but in the `sync` method, when you check if the fil

[2015-07-08 12:06] ravi155 commented on #39
oh my....

in iOS its copied flat to folder it created with new content.
So it is two different behaviours, i assume this is a bug..

[2015-07-08 12:44] denisbabineau opened #41 "replace/merge behavior across platforms"
The replace/merge type appear to be inconsistent in behavior at least between iOS and Android. Android seems to provide the most intuitive behavior in my mind, whereas a replaced container is wiped (renamed) and merge adds and overwrites files (as documented). However iOS appears to only use the "merge" type to enable the "overwrite" option when extracting. Meaning that if i use "replace", it actu

[2015-07-08 13:54] denisbabineau opened #42 "local sync/unzip code not working"
I initially wanted to implement a local sync followed by remote sync (to first load bundled content, i.e. 'www/bundle/app.zip', then check remotely for updated content). Something like:
[code]
Turns out the download won't accept a file:// url (both on android and iOS), so I'm looking at using ContentSync.unzip instead (it would still be nice to use the sync()/'local' functionality to sync only if

[2015-07-08 18:53] macdonst commented on #42
@denisbabineau hmm, I see. Can you update this issue so it is an enhancement to be able to call ContentSync on a local file. Then can you open a separate issue for unzip of a file in android assets.

Thanks!

[2015-07-08 18:58] macdonst commented on #39
@ravi155 Yes, the behaviour should be consistent. I will check with the other implementers and we'll get it sorted.

[2015-07-08 19:03] macdonst commented on #37
@revolunet actually, there was a problem where the iOS download would stop after 30 seconds. We've since fixed this issue and I've downloaded over 500 mb over a slow connection. We just wanted to get more info in order to track this problem down. I'm pretty sure this issue is fixed but I'm hoping to hear back from @wroquet before closing.

[2015-07-08 19:05] denisbabineau opened #43 "unzip code not working for local asset files outside the sync context (android)"
I'm looking at using ContentSync.unzip (as an alternative to issue #42) to unzip a local file however my first attempts on Android are failing in the unzipSync() java call:
[code]
Looks to me like 'zip' is old code as it's not referenced later on except for checking the size and the code below supersedes it. Using the path above which should be valid (translates to: file:///android_asset/www/bundl

[2015-07-08 19:07] denisbabineau commented on #42
done, and cross-referenced automatically, cool! :-)

[2015-07-08 22:01] revolunet commented on #37
Awesome thanks

[2015-07-08 23:41] imhotep commented on #40
@revolunet thanks for reporting this.

We are extracting the archives under `files` because it's easier to access them with

[code]

`fs.root` points to the app's `Library/files` and I have no idea why that is.

Using the FileSystem plugin is not required for the `ContentSync.sync` to work.

You are required to use the FileSystem plugin if you want break down the operations (download, extract/unzi

[2015-07-09 07:56] revolunet commented on #40
Thanks for the fix and explanations @imhotep :)

Shouldn't the output folder be defined by the user himself instead of the arbitrary "files" ?
If the user want to output to `files` he can do `id: "files/apps/app-xxx"`  ?

[2015-07-09 17:15] denisbabineau opened #44 "Can't reliably get/set the root path for sync'ed content"
This issue is related to issue #40 but I felt was different enough to warrant a separate issue;

I'm using this plugin to sync/update my app; on start-up I may (or may not) attempt a remote sync (i.e. depending on connection state, may want to avoid syncs OTA). Past this I need to find out if the app is in cache or not (wether it was sync'ed this start-up or not). Since the sync location is 'unkno

[2015-07-09 22:29] imhotep commented on #40
@revolunet as I said above. `window.requestFileSystem(PERSISTENT, ...)` returns `Library/files` as the root. So if you specified `id: "appId"` you wouldn't be able to access the folder with `window.requestFileSystem(PERSISTENT, ...)`. I am going to close the issue for now.

[2015-07-10 01:26] revolunet commented on #44
From my tests, you can set the location with the `id` parameter. the issue is that the iOS plugin currently arbitrary stores files in "files" subfolder which result in "files/[sync-id]/". i think the Api should let the user set the full path.
btw currently your extracted zip content is at `files/[sync-id]/`
what is the "official" folder to store files without icloud on ios ?

[2015-07-10 09:03] revolunet commented on #40
I mean shouldn't the user be responsible of where to store files ?
if one wants to access via `window.requestFileSystem` he can specify the `files` prefix in the id;
but if i want to use "Cloud", "NoCloud" or anything i can do it too.

I think this "files" folder should not be set by the plugin but be the user, doesnt it ?

[2015-07-10 11:42] denisbabineau commented on #40
@revolunet below are the paths I'm seeing on my platforms, see documentation for the file plugin for paths and their usage:

https://github.com/apache/cordova-plugin-file
[code]
For iOS according to the documented layout, ContentSync on iOS looks like would be extracting in a cloud backed up location but it's unclear since
Library/ itself is not defined as one of the cordova.file.* paths and shows

[2015-07-10 12:40] revolunet commented on #40
Thanks @denisbabineau for the detailed insights :)

What about adding/fixing the current implementation ?

My requirements :
 - be able to download once and extract a zip in a NotCloud folder/subfolder
 - be able to download once a file in a NotCloud folder/subfolder
 - be able to read these files from the browser (we're using WkWebView)

This works currently except we cannot get of the "files" su

[2015-07-10 14:27] macdonst commented on #44
@denisbabineau If we did ContentSync.get('appId') which returns the path to the sync'ed content if it exists or null/error callback if it doesn't make life easier?

[2015-07-10 14:38] denisbabineau commented on #44
@macdonst that certainly would be helpful and would probably be the least disruptive to the API. However I strongly feel that lacking the ability to set the root/destination path will still be a limiting factor for this plugin given various usage scenarios, to name a few:

- does the user want the content sync'ed on the cloud?
- is it meant to  go in external storage to share with other apps or pe

[2015-07-13 21:24] imhotep commented on #40
@revolunet I think latest commit meets all your requirements! Give it a try and let me know so that I can close this issue. Thanks!

[2015-07-13 21:57] imhotep commented on #44
@denisbabineau I don't understand some of your questions (are they questions)? but let me know if any of the things below help you.

I updated the plugin for iOS to:
* not get backed up to iCloud
* not have a `files` prefix. Synced folder will go to your iOS app's `Library/` folder which I think is the most appropriate for this use case. You can prefix your `appID` with any folder(s) you want.
* n

[2015-07-13 23:10] imhotep opened #45 "Support for copyRootApp/copyCordovaAssets when options.type=local and options.src=null"
[code]

This should copy the root app/cordova assets to PERSISTENT storage.

[2015-07-15 11:10] revolunet commented on #40
:+1: Thanks @imhotep looks great, we can now decide exactly here to store the files and the `fileExistsAtPath` check is correctly executed.

[2015-07-15 11:10] #40 closed

[2015-07-15 11:11] revolunet commented on #44
does the UUIDs change when we upgrade the app ? or it is constant for a given bundle id ?

[2015-07-15 11:13] revolunet commented on #38
i can confirm this works

[2015-07-15 14:22] denisbabineau commented on #44
@imhotep thanks for the updates. Looks like that should take care of things. I had to move to another task but will dive into this again later on. My main concern seems to be solved so I think we're good to close this issue with a small addition; I still get a segfault in iOS when attempting to get a path with sync local of a non-existant package. This is due to src being NSNull and not nil, I mod

[2015-07-15 16:45] hashg commented on #38
I'm between builds. I will try it over the weekend. Thanks for @revolunet confirming it.

[2015-07-15 16:45] #38 closed

[2015-07-15 18:34] macdonst commented on #39
@ravi155 So on iOS if the appId dir has a www directory it will copy the cordova assets to there, if not it just drops them into appId. I'm going to make Android work the same way.

[2015-07-15 22:57] imhotep commented on #44
@revolunet the UUID changes on every app launch. We can only rely on the iOS SDK to get the full path to the app's `Library/` folder. That is also the reason why `options.type="local"` exists.

[2015-07-15 23:25] timkim opened #46 "Merge not working on iOS and wp8"
Trying to get the delta updates working on the `phonegap developer app` but it appears that the `merge` isn't quite working on iOS and wp8.

So the initial content sync:
[code]

And then the merge code:
[code]
On iOS, it receives the new zip, successfully unzips but never displays the new content. I have to look further into wp8 but I suspect it might not be playing nice with the server.

[2015-07-16 13:50] macdonst commented on #39
Okay, I fixed it so Android works the same as iOS.

[2015-07-16 13:50] #39 closed

[2015-07-16 22:38] timkim commented on #46
I can confirm that this works on ios although it does throw a lot of warnings:
eg:
[code]

On wp8, it appears the problem is with `connect-phonegap` and not preserving sessionIDs. ie, wp8 likes to have two (maybe more?) session IDs which really messes up which files it needs to update.

[2015-07-16 22:38] #46 closed

[2015-07-20 18:11] #45 closed

[2015-07-20 23:47] revolunet commented on #44
thanks for clarifications ! :+1:

[2015-07-23 20:44] macdonst opened #47 "Limit NoCache on iOS"
The NoCache handling should be restricted to paths “managed” by the CS plugin only and leave the “file:” requests to areas not managed by the plugin be handled by the default handler (if there is one).

[2015-07-28 21:18] purplecabbage opened #49 "How long is a timeout?"
Docs just say : Double Request timeout. and the default is 15.0, so I'll guess it's 15 minutes ...
Units matter.

[2015-07-28 21:52] mwbrooks commented on #49
Good question. A review of the JavaScript and platform implementation do not mention whether it's seconds or minutes.

When someone has a moment, please update the docs and reference this issue.

[2015-07-29 22:04] timkim opened #50 "Merge doesn't overwrite existing files on wp"

[2015-07-29 22:07] #50 closed

[2015-07-31 19:37] purplecabbage opened #51 "WP8 ignores options.type == 'local'"

[2015-07-31 22:38] timkim opened #52 "WP8 merge option should delete existing file and then write to it"
When wp8 merges into an existing file, it won't delete the file then write to the file. Instead it'll write directly into the buffer causing some cruft to be left over.

[2015-08-03 10:46] lberning opened #53 "Detailed HTTP Error Codes in Error Callback"
Especially for Error Code 2, "CONNECTION_ERR" it would be very handy to also pass the HTTP-Errorcode back to the JavaScript-App.

I.e. an Application might treat a HTTP_NOT_MODIFIED differently from a HTTP_NOT_FOUND.

[2015-08-03 12:56] lberning opened #54 "App, crashes on iOS, if options.src is undefined"
If I sync content via
`ContentSync.sync({id: 'mycontent', type: 'local'})`

it will crash the whole app crashes on iOS, if the local content does not exist.

2015-08-03 14:25:34.046 Event Guide[523:2869] startDownload from <null>
2015-08-03 14:25:34.046 Event Guide[523:2869] -[NSNull length]: unrecognized selector sent to instance 0x36c7c690
2015-08-03 14:25:34.047 Event Guide[523:2869] *** Termin

[2015-08-03 22:16] imhotep commented on #54
@lberning thanks for reporting this!

[2015-08-03 22:16] #54 closed

[2015-08-03 23:07] imhotep commented on #53
Do you ever get a description associated with that CONNECTION_ERR ? If so, what is it ?

[2015-08-04 07:35] lberning commented on #53
Thanks for looking into this.

The problem that I'm currently experiencing here is the following with creating a content update mechanism:

I have a content providing server that generates the ZIP file. This file is versioned (i.e. the zip-file contains a file "version" that identifies the current version of the content on the device).

If I pull the content via contentsync, I attach this version

[2015-08-04 21:18] imhotep commented on #53
@lberning I understand. We'd have to change the format of the plugin error. Right now we only return one of the following:
[code]
This would break some existing apps that rely on these error code. We could have an error object that includes the HTTP response:
[code]
I am happy to change it. I will discuss this with the other contributors.

[2015-08-04 21:26] mwbrooks commented on #53
Great suggestion @lberning!

I agree with @imhotep. This is a really nice improvement to the current error callback information. Since it's a breaking change, we would need to bump the major version to ensure that people do not upgrade and break their apps.

[2015-08-11 15:29] blefebvre opened #56 "Support `trustAllHosts` flag for self-signed certificates"
The Cordova file-transfer plugin supports a flag to indicate that self-signed certificates should be accepted (`trustAllHosts` at [0]). I recognize that while this is not a safe practice in prod, it can be useful during development.

Would it be possible to support this flag as one of the `sync()` options?

[0] https://github.com/apache/cordova-plugin-file-transfer#download

[2015-08-11 21:27] blefebvre opened #57 "`id` param containing a '/' returns error code 4 on iOS"
To reproduce, clone https://github.com/blefebvre/phonegap-contentsync-plugin-issue and run `cordova platform add ios && cordova run ios`.

Result:
![screen shot 2015-08-11 at 5 01 48 pm](https://cloud.githubusercontent.com/assets/1048207/9211143/263bca72-404e-11e5-97c8-0f7d4db59817.png)

The `sync` works fine if '/' is removed from the id: https://github.com/blefebvre/phonegap-contentsync-plugin-i

[2015-08-11 21:38] mwbrooks commented on #57
I can't think of a major side-effects to Simon's commit. @imhotep should also review it though.

Also, thanks @macdonst for cleaning up the whitespace.

[2015-08-12 01:51] macdonst commented on #57
Merged

[2015-08-12 01:51] #57 closed

[2015-08-12 12:29] blefebvre commented on #57
Is it possible that error code 4 could happen again? If so, can we add an entry to the ERROR_STATE enumeration?

[2015-08-12 15:56] imhotep commented on #57
doubtful

[2015-08-12 18:46] cutbko opened #58 "ContentSync is undefined"
I am using Phonegap Build to compile my phonegap project. I added the following line to Config.xml to use your plugin:
    gap:plugin name="phonegap-plugin-contentsync" source="npm"
but when I run my application I get: "Uncaught ReferenceError: ContentSync is not defined"
do I need to do anything else to get it working?

[2015-08-12 18:50] cutbko commented on #58
Same thing when I changed plugin source to:
gap:plugin name="com.downloadwink.phonegap.contentsync" version="1.0.0"

[2015-08-12 19:17] cutbko commented on #58
I reinstalled application and it appeared, sorry for disturbing

[2015-08-12 19:17] #58 closed

[2015-08-13 11:43] voliva opened #59 "Feat: copyRootApp if it hasn't been done before"
It would be nice and more understandable that "local" with "copyRootApp" with src = "null" checked if the directory exists, or just some way to identify this case from Javascript.

The use case for that is when using contentsync to manage application updates, to simplify the management between when to use the cordova path and when to use the PERSISTENT path.

As an example:
-> We distribute an app

[2015-08-13 15:36] macdonst commented on #59
@voliva That's not a feature request that's a bug.

[2015-08-13 15:41] voliva commented on #59
Oh ok, thanks for the info!

I thought it was done on purpose for a way of "reseting" everything as how it was originally or something like that...

[2015-08-13 22:45] macdonst commented on #59
@voliva no, if you want to reset you can just delete the local copy and start again. That is probably the cleanest.

[2015-08-14 15:27] macdonst commented on #59
@voliva fixed in master.

[2015-08-14 15:27] #59 closed

[2015-08-20 21:31] imhotep opened #60 "[iOS] type="local" and copyRootApp or copyCordovaAssets = "true" does not fetch the app"
[code]

Does not download the app from the URL

[2015-08-21 14:14] macdonst opened #61 "Speed up copyRootApp on Android by providing a Manifest file"
Walking the assets directory on Android is very slow. Provide an optional manifest file in order to make the initial copy root app quicker.

[2015-08-24 11:38] #61 closed

[2015-08-27 08:34] #60 closed

[2015-08-27 08:34] imhotep commented on #56
@blefebvre Can you test this please so that we close the issue ?

[2015-08-27 08:42] imhotep opened #62 "Sync should support non zip archives"
Right now when calling sync() everything gets extracted by default. cf: [pull request](https://github.com/phonegap/phonegap-plugin-contentsync/pull/48) by @revolunet
Not sure what the best way is to detect if an archive is a zip archive:
- Read the first 4 bytes and expect "50 4B” PK
- Rely on file extension to be ".zip"
- All of the above?

Use case is for all other file types: images, videos, et

[2015-08-27 08:45] imhotep opened #63 "[iOS] complete event never fires when archive is not extracted"
Because JS implementation relies on `progress` and/or `localPath` field being present instead of `status` field.

[2015-08-27 08:46] imhotep opened #64 "[JS] change success handler to rely on status field"
Right now it relies on "progress" or "localPath" being present.

[2015-08-27 18:35] blefebvre commented on #56
+1, works for me.

[2015-08-27 18:46] macdonst commented on #56
@blefebvre did you test iOS and Android?

[2015-08-27 18:55] blefebvre commented on #56
I found that iOS couldn't even make an XHR to query if an update was available on the untrusted server, but this was not an issue with the plugin. Android worked as expected.

[2015-08-27 19:16] macdonst commented on #56
Woot! Let's close this thang.

[2015-08-27 19:16] #56 closed

[2015-08-29 15:49] revolunet commented on #62
in my PR, the file is considered a zip if matches one of these :
 - server content-type
 - or file has a ".zip" extension

to make the code more focused and simpler, what about moving the "copy cordova" stuff to dedicated methods ?

[2015-09-03 19:03] elvisphilipn opened #65 "[iOS] Plugin doesn't support the compulsory arm64 (64-but support) architecture"
PhoneGap build, set to CLI-5.1.1,  fails to build iOS when using content sync plugin. `Error - A plugin in your app does not support the compulsory arm64 (64-bit support) architecture.`
see http://phonegap.com/blog/2015/06/16/phonegap-updated-on-build/

[2015-09-03 20:16] elvisphilipn commented on #65
oops, user error. I had this plugin and cordova-plugin-zip on the same config file. Removed the latter and all is good.

[2015-09-03 20:16] #65 closed

[2015-09-15 18:47] shazron opened #67 "Update for cordova-ios 4.0.0"
This was never documented in the Plugin Spec:
https://github.com/phonegap/phonegap-plugin-contentsync/blob/ed5656019689078adaa501462a100a5a9c59bd29/src/ios/ContentSync.m#L21-L24

Use pluginInitialize instead. It's backwards compatible too.

Also, using NSURLProtocol limits your plugin use to UIWebView only -- you can't use WKWebView.

[2015-09-16 22:36] mwbrooks opened #68 "[iOS] Fix Hang on Unknown Hosts"
When an unavailable host address is used, Content Sync will hang on iOS. For example, using `10.0.1.4:3000` when there is no computer to respond to that address.

It is worth noting that when entering an existing host that doesn't support Content Sync, such as `example.com`, then it immediately returns an error state. This is correct!

See: phonegap/phonegap-app-developer#338
See: phonegap/phonega

[2015-09-17 20:00] Avareto opened #69 "[iOS] copyRootApp has not effect"
I am wondering why 'copyRootApp: true' is not working as expected.
When I call "var sync = ContentSync.sync({ src: url, id: 'myapps', type: 'replace', copyCordovaAssets: false, copyRootApp: true);" (taken from the sample on github) it just downloads and extracts the content into the target directory (sync folder). But nothing is copied from the original www folder of the installed app to that sync

[2015-09-17 22:21] imhotep commented on #69
@Avareto Which platform ?

[2015-09-17 22:51] Avareto commented on #69
iOS

[2015-09-18 14:55] Avareto opened #70 "[iOS] sample download operation crashes"
I created a simple cordova App from the sample code, without changing any of the sample JavaScript. The App crashes and exists when I press the download button. When I run it in Xcode an exception is thrown after the files have been dowloaded. Only the sync operation works as expected.

[2015-09-21 22:43] mwbrooks commented on #67
Cool, thanks @shazron! It looks like a minor update (changing the function name). We don't use the `UIWebView` instance, so we're safe there.

[2015-09-21 22:49] mwbrooks commented on #67
Ah, I miss read the `NSURLProtocol` comment. We will need to see how `WKWebView` handles local caching. Hopefully, it's better than `UIWebView` and we will not require the `NSURLProtocol` approach.

[2015-09-21 22:54] shazron commented on #67
Regarding the WKWebView stuff. In iOS 9, you can remove disk cache:
https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebsiteDataStore_Class_Ref/index.html#//apple_ref/occ/clm/WKWebsiteDataStore/allWebsiteDataTypes

Available data types:
https://developer.apple.com/library/ios/documentation/WebKit/Reference/WKWebsiteDataRecord_Class_Ref/index.html#//apple_ref/doc/constant_gr

[2015-09-22 19:26] mwbrooks commented on #67
Alright, I've patched the plugin interface with the above commit.

I think the cache discussion for `NSURLProtocol` needs testing and decision on when ContentSync will support WKWebView. As it stands, the `NSURLProtocol` implementation should continue to work on Cordova iOS 4.0.0 using UIWebView.

If the Content Sync plugin chooses to support WKWebView, then we will need to test how it handles the

[2015-09-27 08:53] jeroendeswaef opened #71 "SSZipArchive conflict with other installed plugin - iOS"
After adding the plugin, I got an ld linking error:

    duplicate symbol _OBJC_IVAR_$_SSZipArchive

This is probably because I already have this plugin installed: https://github.com/MobileChromeApps/cordova-plugin-zip, that also makes use of the minizip library.

Output of `find . -name "SSZipArchive*"` :

    ./Plugins/org.chromium.zip/Plugins/minizip/SSZipArchive.h
    ./Plugins/org.chromium.zi

[2015-09-28 01:30] imhotep commented on #71
This plugin supports the same api as cordova-plugin-zip so you don't need to have both of them installed.

[2015-09-30 20:14] eberlitz opened #73 "[WP8] - copyCordovaAssets not working as iOS and Android"
In my downloaded application I'm using the following import script within a `index.html`:

[code]

It works fine on Android and iOS with copyCordovaAssets option. But in WP8 the only way I could make it work was changing the URL of the `cordova.js` file to  `www/cordova.js`.

Apparently on Android and iOS is checked if the appId dir have a `www` directory to copy the Cordova assets to there, but i

[2015-10-05 19:27] timkim commented on #73
Hi @eberlitz

The script tag should work:

    <script type="text/javascript" src="cordova.js"></script>

I'm not quite sure why it doesn't work for you. It works on our `phonegap-app-developer` project: https://github.com/phonegap/phonegap-app-developer/blob/master/www/index.html#L54

Did you change the layout of your project folder when you built it with `cordova create` or `phonegap create`?

[2015-10-05 19:28] timkim commented on #52
Fixed in https://github.com/phonegap/phonegap-plugin-contentsync/issues/50

[2015-10-05 19:28] #52 closed

[2015-10-05 19:57] eberlitz commented on #73
HI @timkim

The code that you link is from the application that uses the contentsync plugin. It's not my case.
I have an application that downloads and extract a zip through contentsync using the copyCordovaAssets flag set to true. Inside this zip, I have another application (index.html, and other assets). After successfully download and extract of this zip file, I redirect the page to this extrac

[2015-10-08 19:51] timkim commented on #73
Hi @eberlitz

Yes, we have the same scenario in that we are using the content sync plugin to download a zipped `www/` from a server and change into the unzipped location. You can see how we download and deploy the app here:
https://github.com/phonegap/phonegap-app-developer/blob/master/www/js/deploy.js#L142

Wp8 has a quirk where the `www` path must always be used when dealing with the paths. It w

[2015-10-11 18:10] macdonst opened #75 "Test on Android 6.0 because, new permission model."

[2015-10-15 21:46] imhotep opened #76 "[iOS] cancel does not work"
currently `cancel` does not work on iOS

[2015-10-19 22:28] #76 closed

[2015-10-19 23:29] imhotep commented on #69
Just got around into doing this. Let me know if version 1.1.13 fixes it for you!

[2015-10-19 23:30] #71 closed

[2015-10-21 19:11] imhotep commented on #70
Forgot to update this one. This should be fixed now too along with Issue #76 . If you could give it another try.

[2015-10-21 19:11] #70 closed

[2015-10-27 01:22] tripodsan commented on #44
so in order to work together with the file-plugin, we need to set the appid to `'files/' + id` ?

[2015-10-27 23:26] imhotep commented on #44
@tripodsan Yes I believe so on Android. I don't think you need to on iOS according to the cordova-plugin-file [README](https://github.com/apache/cordova-plugin-file)

[2015-10-28 05:22] tripodsan opened #77 "iOS: download which results in a 404 leaves the error page in place"
When starting a content sync to a URL that results in a 404, leaves the error response in the file system and unzipping fails.

Example:
[code]
does never trigger onError but on complete:
`localPath: ".../Data/Application/1DE1EC18-3965-4275-A119-A02DD651AEE4/Library/foo.zip"`

the response from google is correct:

[code]

and the `foo.zip` contains the HTML contents of the 404 response.

[2015-10-29 17:02] abonec opened #78 "[iOS] with copyRootApp plugin seems doesn't overwrite old files with downloaded ones"
I try using this params { type: 'merge', copyCordovaAssets: true, copyRootApp: true }
What I expect to see:

1. it should copy code from bundled www dir
2. download and extract dir with overwriting old files with new ones from update
3. and finally add cordova plugins.

It works on android as I expected but on iOS it seems skipping overwriting from part 2 and it stay with old files copied from ori

[2015-10-29 22:04] macdonst commented on #75
Tested latest content sync on Android 6.0 device. Discovered no issues with new permission model.

[2015-10-29 22:04] #75 closed

[2015-10-29 22:05] mwbrooks commented on #75
Yay!

[2015-10-30 23:38] imhotep commented on #77
@tripodsan Thanks for reporting this. When you get a chance try version 1.1.14 and let me know if it fixes your issue so that I can close it.

[2015-10-31 00:56] tripodsan opened #79 "[OSX] Add support for OSX"
The cordova-osx platform is about to be added as additional supported target platform, mainly for Kiosk-like applications. It would be great to have support for OSX as kiosk installations can benefit from OTA updates via content sync.

[2015-10-31 00:58] tripodsan commented on #79
I'm currently working on a patch. wip can be seen here https://github.com/tripodsan/phonegap-plugin-contentsync/tree/osx-support/

[2015-10-31 05:16] tripodsan commented on #77
Thanks. I created a test case. see PR #80. Works for me now.

[2015-10-31 05:16] #77 closed

[2015-11-02 18:55] fedorinoGore opened #81 "Invalid request method while trying to download"
I'm experiencing some trouble while trying to download a .epub file from public REST service. Before that I used GET request similar to this one: 'curl -X GET https://test-api.books.com/api... and it worked fine.
But now I get "Invalid request method" from API.
Will be very glad if you could direct me to the right direction...

[2015-11-03 16:40] CookieCookson commented on #78
I'm having the same issues, trying the plugin out first time on iOS and its copying the root app but the zipped assets are not in the new destination folder. This was using `cordova plugin add phonegap-plugin-contentsync`

[2015-11-03 23:50] imhotep commented on #78
Please try version 1.1.15.

[2015-11-05 19:54] tripodsan commented on #44
but now I think it is inconsistent with android. they still add the 'files' automatically: https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/android/Sync.java#L546

[2015-11-06 07:30] tripodsan opened #83 "Content sync location is not consistent in respect to cordova file plugin on iOS and Android"
Test if the local copy is at the correct place and can be accessed via file plugin.
On android this works, as the files are copied to the PERSISTENT location:

`/data/data/<app-id>/files`

on iOS the files are copied to

`/var/mobile/Applications/<UUID>/Library`  (or .../Documents in compatibility mode)

but the persistent directory is `.../Library/files`, so they can't be accessed.

the only work

[2015-11-06 11:52] macdonst commented on #83
@tripodsan actually the PERSISTENT location on Android is:

`/data/data/<app-id>/files/files`

as per https://github.com/apache/cordova-plugin-file/blob/a26070f435b810ceabc3c82efcc8294820be737b/src/android/FileUtils.java#L182. Why is there a double 'files', I don't know. I believe it was added in error but I can't change it now or it will break all existing Android apps that rely on that location.

[2015-11-06 17:51] tripodsan commented on #83
but see my tests in https://github.com/tripodsan/phonegap-plugin-contentsync/commit/d2b7d2612cb05a3b5574a63dafc09906cc051544 they work on android and fail on iOS.

the reported directories are:

[code]

but it might be that the PERSISTENT root on iOS is wrong... @shazron mentioned something.

[2015-11-06 23:18] tripodsan opened #84 "Initial local copy fails if it contains a file the is enumerated before the first directory"
consider the following contents of `www`

[code]

The initial local copy fails, because the `anyfile.txt` is enumerated before the firs directory. The copy algorithm only creates intermediate directories for nested files.

[2015-11-06 23:20] macdonst commented on #84
@tripodsan does the only the copy of _test_file.txt fail or does the copy of all the files fail? The reason I ask is IIRC android packager ignores any files that start with an '_' when packaging the assets folder.

[2015-11-06 23:22] tripodsan commented on #84
the problem is, that non of the files are copied before the first directory. I chose `_` just for clarity. but It could also be `anyfile.txt`

[2015-11-06 23:24] tripodsan commented on #84
see https://github.com/tripodsan/phonegap-plugin-contentsync/tree/issue-84/

[2015-11-06 23:26] tripodsan commented on #84
here's the fix: https://github.com/tripodsan/phonegap-plugin-contentsync/commit/efa5c2e0dba0d805ef328cad5decc1c1e9f3417d

[2015-11-06 23:32] macdonst commented on #84
@tripodsan kk, just making sure because Android is weird about files that start with `_`.

If you have push rights to this repo then go ahead an push the code as I did a quick review. If not send a PR and I'll merge later.

Can't believe you got me interested in this when you already had a fix. I could've gone to sleep 30 minutes ago ;)

[2015-11-06 23:33] macdonst commented on #84
Oh and now I see the next email is a PR :+1:

[2015-11-06 23:38] tripodsan commented on #84
sorry...didn't want to keep you awake.... I was preparing the PR as a breakfast gift :-)

[2015-11-09 15:18] macdonst commented on #84
Merged PR.

[2015-11-09 15:18] #84 closed

[2015-11-09 16:51] tripodsan commented on #83
I would try to be consistent with the _cordova-plugin-file_ and use whatever `dataDirectory` they use as root.

on android: `/data/data/<app-id>/files`
on ios: `/var/mobile/Applications/<UUID>/Library/NoCloud`
on osx: `~/Library/Application Support/<bundle-id>/files`

[2015-11-09 19:17] kaansoral opened #86 "Just updated - 404 succeeds instead of failing"
So I have a local testing setup, mostly the zip doesn't exist on the local setup, so when contentsync fails, the failovers kick in

Yet with a plugin update, the "complete" callback is called with "status":3 and the localPath directs to a ".zip" that doesn't exist (instead of being a folder)

Am I missing something or is this a bug?

[2015-11-09 22:48] arumsey opened #87 "Plugin hangs on iOS when URL is incomplete"
`ContentSync.sync("http://servername")` hangs on iOS since the URL doesn't actually point to a valid file on the server. The same call on Android does not hang.

Test device: iPhone 5 on iOS 9.1

[2015-11-10 03:21] macdonst commented on #87
Actually that is a completely valid URL as per iOS specs. I've added a HEAD request to the URL and if that returns an error we don't bother to try and download.

[2015-11-10 03:21] #87 closed

[2015-11-10 03:28] macdonst commented on #86
@kaansoral what platform, iOS/Android/Windows? It'll just help me track it down.

[2015-11-10 03:28] macdonst commented on #83
@tripodsan Seems legit and the other plugin maintainers agree so I'll work on it tomorrow.

[2015-11-10 13:28] kaansoral commented on #86
iOS on an iPod, Android seems to work

[2015-11-10 15:57] macdonst commented on #86
@kaansoral can you give me an example url? What I'm seeing with the latest from master is 404's will error out but sites that redirect to 404 pages can cause problems.

[2015-11-10 16:30] kaansoral commented on #86
I'm using AppEngine SDK at development, from the browser, it loads an empty page and 404 code from the network

I also check the logs and verify the 404 there

This might be one example of a 404: http://www.kaansoral.com/js/mobile.zip (This is production, not SDK)

This used to work flawlessly by the way, also the returned localPath that directs to a .zip that doesn't exist is interesting

[2015-11-10 18:50] macdonst commented on #86
@kaansoral grab the latest from master and test as I can no longer reproduce your problem. Probably fixed by the change for #87

[2015-11-10 18:57] kaansoral commented on #86
Using this: "cordova plugin add https://github.com/phonegap/phonegap-plugin-contentsync.git"

Tested it an hour ago, same issue, applied a ghetto fix that checks whether the path ends with ".zip" and manually calls the error method

[2015-11-10 19:09] macdonst commented on #86
@kaansoral you are checking the src property to see if it ends in .zip?

[2015-11-10 19:34] kaansoral commented on #86
[code]

this is roughly what I'm doing, `endsWith(data.localPath,".zip")` checking .localPath, as it should be a folder instead of a local zip file that doesn't exist

[2015-11-10 23:18] tripodsan commented on #83
commit looks good to me.

[2015-11-11 16:48] #83 closed

[2015-11-11 18:26] macdonst opened #88 "Need to redo copy root app when app is updated"
From a user:

"Another problem we're facing is, that the local content copy does not happen, if the directory already exists. so once the bundled content is copied to the sync directory - that's it. even if you update the original binary, you still have the old content in the synced directory.

So either it should be possible to specify a 'forceReplace' flag, or the local sync should also do a pro

[2015-11-11 18:53] tripodsan commented on #88
I'm the 'user' :-) That was my finding on Android. I didn't have time to validate on iOS.

[2015-11-11 19:06] macdonst commented on #88
@tripodsan I'm pretty sure it will be the same behaviour on iOS. We'll make sure to test.

[2015-11-11 21:25] imhotep commented on #86
@kaansoral how are you calling `ContentSync`? Also don't store the path returned by ContentSync as it changes across app launches (use option `type: 'local'` instead).

[2015-11-11 21:28] imhotep commented on #88
If you use option `type: 'local'` you don't want to update anything. You're requesting an existing version if it exists and optionally copying assets/root app if there weren't any. Not sure what the problem is ?

[2015-11-11 22:30] kaansoral commented on #86
`var sync = ContentSync.sync({src:the_mobile_info.base_url+"/js/mobile.zip",id:'mlib'});`

A bare call

I just checked why and what I'm caching, it seems I'm caching the path but not using it, I'm making a "local" call instead if there is cached content tho, so I'm using it as a flag to make a "local" call, whether it's needed or completely useless

Anyway, this issue occurs after the bare call th

[2015-11-11 23:40] imhotep commented on #86
@kaansoral seems like a bad rebase/merged occurred in latest version of this repository and caused some changes to disappear. Please try this.

`cordova plugin add https://github.com/phonegap/phonegap-plugin-contentsync#9f7412d057dac8fdd01971be51c5a1ece2305b33`

and get back to me.

[2015-11-12 02:30] kaansoral commented on #86
Thanks, it works :)
(No usage issues, There are some error logs, seems to be the aftermath of the previous issue, doesn't seem to affect the functionality)

I have to say, the support and development of this plugin is beyond awesome

While inspecting this issue I got to improve my plugin usage logic, so my effort wasn't wasted either

Also, the two http requests are HEAD + GET's, so that makes som

[2015-11-12 11:15] CookieCookson commented on #86
Had the same issue here, thanks @imhotep for the fix!

[2015-11-12 12:54] abonec commented on #78
Works with 1.1.15. Thx.

[2015-11-12 19:21] tripodsan commented on #88
1. install the app binary the first time
2. call content sync, type:'local' to initialise the local copy. creates '.../work'
3. use content sync to get the latest update from a server. updates '.../work'
4. make fundamental changes to the app that require updating the binary
5. update the binary (does not remove the `dataDirectory`)
6. next start does not copy the new, bundled data into the '.../w

[2015-11-12 21:06] macdonst opened #89 "Need to return error when copy fails on iOS"
See line 347 of ContentSync.m, it should return an error to the JS side. If not the ContentSync task never seems to complete.

https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/ios/ContentSync.m#L347

[2015-11-13 00:23] imhotep commented on #86
version 1.2.1 should fix the problem (I reapplied that commit on top of everything else).

[2015-11-13 00:23] #86 closed

[2015-11-13 09:00] CookieCookson commented on #86
Can you make a release for 1.2.1?

[2015-11-13 12:46] abonec opened #90 "Need feature to delete installed update"
Is there feature to delete installed update?

[2015-11-13 12:51] macdonst commented on #90
@abonec do you mean remove all the content at a sync location or roll back the latest merge?

[2015-11-13 12:53] abonec commented on #90
I mean delete whole directory with downloaded and extracted update by ID or by full path.

[2015-11-13 19:47] imhotep commented on #86
@CookieCookson but it is released: https://www.npmjs.com/package/phonegap-plugin-contentsync

[2015-11-14 02:03] macdonst commented on #90
As of 1.2.0 of the plugin both Android & iOS store their data in the path represented by `cordova.file.dataDirectory` so you can use the File plugin to remove your cached data.

[code]

[2015-11-14 02:33] tripodsan opened #91 "Cookies not properly read when using crosswalk plugin"
The code that checks for the cookies in the webview has a bug, when retrieving the `getCookie(String.class)` method:

[code]

should be:

[code]

[2015-11-14 02:36] tripodsan commented on #91
btw: why not using the `ICordovaCookieManager` directly?

eg:

[code]

[2015-11-16 10:42] CookieCookson commented on #86
@imhotep Ah ok thanks, I was just referring to: https://github.com/phonegap/phonegap-plugin-contentsync/releases

[2015-11-16 10:48] CookieCookson commented on #90
Would there be a way in the future to have this functionality included without requiring the file plugin? I'm using the id as a way of keeping track what update version is running, so would be awesome if there was a function which 'cleans up' old IDs.

[2015-11-16 16:06] #89 closed

[2015-11-17 23:32] timkim opened #93 "Cordova assets not copied over to an existing www/"
When content synching to an unzipped location that contains a `www/`, the cordova assets are not copied over. ie, `cordova.js`, `cordova_plugins.js` and `plugins/`.

At https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/ios/ContentSync.m#L529, it seems like the code executes fine (returns a sucess) but nothing actually is copied.

[2015-11-18 19:26] tripodsan opened #94 "iOS: Exception in findSyncDataByDownloadTask"
I just had an exception which crashed the app. it happens in `findSyncDataByDownloadTask` when the tasks are iterated. I think it's caused be a concurrent modification when 1 tasked finished and is removed from the array, while another thread is enumerating it:

[code]

It is difficult to reproduce, though..

https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/ios/ContentSync.m

[2015-11-19 16:02] burin commented on #90
I think being able to clear cached data would be nice too (although using the File plugin works too). I need to do the same thing as @CookieCookson (clear "old" ids)

I imagined the API would be similar to the `ionic-plugin-deploy` methods `getVersions` and `deleteVersion`:

https://github.com/driftyco/ionic-plugin-deploy/blob/master/www/ionicdeploy.js#L65

[2015-11-19 18:20] tripodsan commented on #90
maybe the contentsync plugin should keep a history/manifest of synced updates. eg:

contentsync.json
[code]

and then offer a method to retrieve this list. delete could be done with a new sync type `delete` which wouldn't require a `src`.

[2015-11-25 00:51] tripodsan commented on #91
this is fixed.

[2015-11-25 00:51] #91 closed

[2015-11-25 00:54] tripodsan opened #96 "iOS: starting the same task multiple times should be prohibited"
while playing around with contentsync, I several times got the state where multiple downloads/tasks started for the same url/appid. which causes some problems of course during extraction.

suggest to rejecting new syncs if a task is already running.

[2015-12-01 14:34] abonec commented on #78
Sorry. It still not works. Plugin partially merged files.
My hypothesis is that plugin merged folders incorrectly. If downloaded content has subfolders It just replace old folders with the new ones. But expects to merge contents of this folders.

[2015-12-01 14:43] abonec opened #98 "[iOS] double copying root app"
On iOS right after call #sync method plugin perform copying root app. And right after downloading of zip file it's again perform copying root app.
Here my log:  http://pastebin.com/bcJJKETg

[2015-12-02 22:47] #93 closed

[2015-12-03 23:23] imhotep opened #99 "[iOS] localPath is not set properly when path already exists"
When plugin tries to copy a freshly downloaded resource to a path that already exists it doesn't set the `localPath` properly in the plugin result.

[2015-12-04 22:01] imhotep commented on #98
@abonec thanks for reporting this

[2015-12-04 22:01] #98 closed

[2015-12-04 22:04] #99 closed

[2015-12-04 22:06] imhotep commented on #78
@abonec do you have an example archive that we can test with ? It's supposed to replace every (sub)folder/files.

[2015-12-04 22:08] imhotep commented on #90
I have a feeling that the plugin already does too much. We could offer the functionality to delete old synced folders but we might end up with a full replacement of the File plugin and I am not sure we want that.

[2015-12-04 22:31] imhotep commented on #88
@tripodsan Oh I see! I believe this could be fixed by copying root app before doing anything else (checking if app exists etc..). iOS currently checks if app exists before copying root app when `type` is set to `local` but we could reverse that. I believe Android does the same thing.

[2015-12-05 14:37] abonec commented on #78
I create the archive https://mega.nz/#!YM1H1KbA!H9zbSaslNOLUwIsfKHuOl5xc8jDXKDnkwmHiF88zhBY

bundle within archive represent an app and update.zip - it is an partial update with the only file I want to update - assets/app.js.

After updating on iOS asset folder contain only app.js from updader but not app.css. But index.html is fine.

[2015-12-14 20:47] stefanoavancini commented on #28
Same error here. Did you resolve the issue?

[2016-01-04 15:53] macdonst commented on #96
How should we handle this? We can do it in one of two ways:

1) Allow the current sync to complete and queue up the new sync.
2) Cancel the current sync, roll back to the state before the sync started then start the new sync.

[2016-01-04 17:44] tripodsan commented on #96
see PR #96, there I suggest to throw an error if a sync for the same id is already running.

[2016-01-08 09:23] Avareto commented on #69
Now it works. Thanks!!!

[2016-01-11 10:10] Avareto opened #100 "Sample code for app update?"
Is there any sample code available in the community that demonstrates how to use this plugin to implement the deployment of App updates? I would really appreciate if someone would like to share his or her code and experiences?

[2016-01-11 19:05] #69 closed

[2016-01-12 07:40] purplecabbage opened #101 "Tests: unzip"
Unzip does not have tests.

[2016-01-12 07:41] purplecabbage opened #102 "Tests: download"
Download api does not have tests

[2016-01-13 00:08] timkim commented on #100
Hi @Avareto,

We use this plugin for the [Phonegap Developer App](https://github.com/phonegap/phonegap-app-developer/). The PhoneGap Developer App gets the zip generated by this module [connect-phonegap](https://github.com/phonegap/connect-phonegap).

You can see it in action by doing the following:
[code]

[2016-01-13 07:56] purplecabbage opened #103 "Document download api"
Does it report progress? Can I specify where to download to?

[2016-01-18 17:16] R2D221 opened #105 "Support for Windows 10 apps"
Currently the plugin only works for Windows Phone 8. In order to provide the same app experience in all devices, it would be great to have a Windows 10 implementation.

[2016-01-18 18:25] mwbrooks commented on #105
Hi @R2D221, we have some work-in-progress to add Windows Universal support. You can follow and/or contribute from the following pull request:

https://github.com/phonegap/phonegap-plugin-contentsync/pull/104

[2016-01-18 18:26] #105 closed

[2016-01-21 21:08] shazron commented on #76
Why did you commit clobber #67's commit?

[2016-01-27 10:41] jeremiehirsch opened #106 "Can't deploy in phonegap for ios"
I can't deploy in phonegap.
If contentSync is implemented i have an error:
Error - A plugin in your app does not support the compulsory arm64 (64-bit support) architecture.

However i think my config.xml is correct :
<plugin name="phonegap-plugin-contentsync" />

Is this normal ?

[2016-02-03 01:25] timkim opened #107 "iOS doesn't check for response text when it pings the server"
Just fixed a long standing issue in `connect-phonegap` where the server would spit out a 404 when an ios device tries to connect.

Essentially, it comes down to this function: https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/ios/ContentSync.m#L142

Even if the server responds with a 404, the error reference remains `nil` since a 404 doesn't constitute as an error. So the ser

[2016-02-04 20:45] devgeeks opened #108 "README should use HTTPS for all sync URLs"
It is important to encourage all production sync traffic to be conducted over SSL/HTTPS by using it in the examples.

There should also be a general security note just after the "Quick Example"

[2016-02-04 21:52] #108 closed

[2016-02-06 11:00] mparpaillon commented on #67
Hi, thanks for this awesome plugin.

Any update on WKWebView support ?

[2016-02-06 11:36] mparpaillon opened #110 "Download OK, Unzip OK, but unreadable asset"
Hi, I'm using this plugin on iOS9 (Webkit Webview) with cordova-ios 4.0.1 and I have a issue.

I have several assets that I need to add remotely on my app. It used to work great but iOS9 (and/or wkwebview) seems to break it.

The download works fine.
The unzip too apparently.
But I can't access the assets in it (I get a "Failed to load resource")

Here is the log:
[code]

Everything works fine on

[2016-02-06 11:43] mparpaillon commented on #110
Ok I checked the downloaded datas and everything is there. So I guess it only fails when I try to access the file via uts URI `file:///var/mobile/Containers/Data/Application/AE18194F-1B41-456C-AC93-459387D5D52E/Library/NoCloud/content-sync/my-file.png`

[2016-02-12 22:30] tripodsan opened #113 "Incomplete copy if app is terminated too early"
The local sync copies the files directly to the destination directory. If the application is terminated before the sync is complete, it will not resume the next time the application starts - e.g. the application has no way to figure out that the copy was incomplete.

suggest:
- copy to temporary sibling directory
- after completion do a rename, rename, delete action:
     ```old.renameTo(trash); n

[2016-02-12 23:51] imhotep commented on #110
@mparpaillon you should be able to use Sync.loadUrl("file://...") to load your assets. Install plugin using:

`cordova plugin add https://github.com/phonegap/phonegap-plugin-contentsync.git`

Let me know if it works for you

[2016-02-13 11:05] mparpaillon commented on #110
Oh nice. Could you give me an example of how to use it in a img tag or a background-image ?
I'm not sure I understand how to use it :)

Thanks a lot

[2016-02-13 11:23] mparpaillon commented on #110
Haha there's a little bug in your condition I think

[code]

[2016-02-15 00:49] macdonst commented on #113
@tripodsan which platforms do you see the behaviour on?

[2016-02-16 22:53] imhotep opened #114 "Improve integration tests"
Current tests require online access to be able to run. Create an npm script that fires up a server and runs for the duration of the integration tests.

[2016-02-26 02:28] shazron opened #115 "is libz.dylib properly linked?"
In the Build log, I don't see "-lz"
Related: https://issues.apache.org/jira/browse/CB-9772

Is the plugin working for unzipping files? or does it not need libz?

[2016-02-26 19:22] shazron commented on #115
Solved. Xcode automagic: https://issues.apache.org/jira/browse/CB-9772?focusedCommentId=15169606&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15169606

[2016-02-26 19:22] #115 closed

[2016-03-15 14:47] jezmck commented on #18
Please see my [PR](https://github.com/phonegap/phonegap-plugin-contentsync/pull/117) which addresses the non-obviousness that this plugin is intended for `zip`s only.

[2016-04-07 18:00] josh-m-sharpe opened #118 "how persistent is the content once synced?"
I can't seem to find anything in the README that states how long I can trust that synced content will be on the device.  Are there any guarantees the OS won't randomly wipe one of my files behind the scenes?

Thanks!

[2016-04-12 23:21] graphicgeek opened #119 "Not working on iOS 9.3.1?"
Seems to work just fine on Android, but since the latest update of iOS (to 9.3.1) the .sync method does nothing. No error messages, or log output that I can see, but the sync doesn't run. Suggestions?

[2016-04-13 22:01] timkim commented on #119
Hi @graphicgeek

I've been using iOS@9.3.1 (tested on 4s and on a 5) and everything seems ok on my end. I would check your server logs to see if it is actually connecting.

[2016-04-14 11:08] vernondegoede opened #120 "iOS - Wrong download location?"
In the documentation it states that the plugin stores the synced content in the `cordova.file.dataDirectory` path from the cordova-plugin-file package.

I'm using the following code the download my file:

[code]

This should mean that the files should be downloaded to `Library/NoCloud/`. However, in Xcode it seems the files are downloaded to the `Library` folder.

Here's a snippet from the Xcode c

[2016-04-14 12:48] vernondegoede commented on #120
Nevermind, this only seems to be the case when using the iOS Simulator. On real devices the files are stored in `Libarary/NoCloud`

close

[2016-04-19 10:22] vernondegoede commented on #119
Works for me as well.

[2016-04-19 10:29] vernondegoede commented on #120
It seems I was wrong. This actually seems to be the case everywhere. What am I doing wrong?

In the documentation it states that files should be downloaded to the `NoCloud` folder. However, my files are still stored in the `Library` folder.

Snippet of my config.xml:

[code]

[2016-04-19 22:20] timkim commented on #120
Hi @vernondegoede

Hrmm, I have a feeling that these two preferences might be the cause of your problems:
[code]

Try taking those out and see if that works.

[2016-04-19 23:09] timkim commented on #118
Hi @josh-m-sharpe

I believe that synched content should persist until you delete the app. I don't think the OS will randomly delete content - so far I haven't run into issues regarding that. Maybe you'll run into such an issue if you have so much synch'd content that you start running out of space.

[2016-04-20 06:22] purplecabbage opened #121 "Windows unzip error"
Windows is ignoring folder structure and unpacking everything to the same folder.

[2016-04-20 06:24] #121 closed

[2016-04-20 22:58] purplecabbage opened #123 "[windows] Respect the copyCordovaAssets param"
Currently the windows version of this plugin is ignoring this value.

[2016-04-20 22:59] purplecabbage opened #124 "[windows] Does not copyCordovaAssets"
Current implementation does not copy over cordova.js, cordova_plugins.js or plugins/

[2016-04-20 23:07] #123 closed

[2016-04-20 23:07] #124 closed

[2016-04-21 12:13] vernondegoede commented on #120
Hi @timkim ,

I did set those options, actually. Didn't make any difference though. I stopped using ContentSync after these errors. I switched to native file transfer download, which did work.

Unfortunately, I don't have time to look into the issue again. Sorry!

[2016-04-21 12:24] dmaus opened #126 "WP8: Support for copyRootApp/copyCordovaAssets when options.type=local and options.src=null"
`ContentSync.sync({"id":”appID”, "type":”local”, "copyRootApp":”true”})`

This should copy the root app/cordova assets to PERSISTENT storage.
It works on iOS/Android, but not on WP8.

[2016-04-21 14:44] cfjedimaster commented on #18
Really surprised this isn't addressed yet. The idea of adding the comment would take two seconds. Please make it so. :)

[2016-04-21 14:44] cfjedimaster commented on #18
I think you should add the comment *and* pull in @jezmck 's PR too. Make it really obvious.

[2016-04-21 14:49] cfjedimaster commented on #18
I've made a new PR myself. I went ahead and change movie-1 to movie-1.zip just to make it more clear and added a comment for what @macdonst said.

[2016-04-21 20:10] timkim commented on #120
Hi again @vernondegoede,

Hrm weird. Well, I guess I can close this issue then :P

[2016-04-21 20:10] #120 closed

[2016-04-21 21:05] timkim commented on #18
Hi all

Thanks for the feedback and sorry for the long wait time. I merged in the docs PRs but I don't see @cfjedimaster PR. Perhaps it wasn't pushed up?

[2016-04-21 21:07] cfjedimaster commented on #18
It's very possible I didn't hit the final button - checking now.

[2016-04-21 21:08] cfjedimaster commented on #18
Please see now - yeah - dumb me forgot to actually *finish* the PR.

[2016-04-21 21:19] timkim commented on #18
Ok, I believe all PRs are now merged in!

[2016-04-21 21:19] #18 closed

[2016-05-06 11:37] snehasis opened #128 "Windows : after sync complete unable to read the fileSystem and load"
Hi,

I used the plugin and super in Android and IOS so far.
But in windows build after finishing unzip the folder to the path its unable to load that file in the App.

I am getting below error
APPHOST9624: The app can’t use script to load the file:///C:UsersSsdsAppDataLocalPackages*_h35559jr9hy9mLocalStatestorewwwindex.html url because the url launches another app. Only direct user interaction can

[2016-05-06 12:54] snehasis commented on #28
Which version of windows you are trying ? 8 or 10 ?

[2016-05-06 13:14] lpsouza commented on #28
@snehasis and @stefanoavancini I use Windows 8.1. I discover what is the problem. The phonegap-plugin-contentsync is **not supported** on _Windows Universal Apps_. Thanks for the answer. We will waiting a stable version to use on _Windows Universal Apps_.

[2016-05-06 13:14] #28 closed

[2016-05-19 09:43] roblav96 opened #129 "[iOS] [via Repo URL] Build Failed - Expected Expression"
![Expected Expression](http://s32.postimg.org/44c3v2zlx/Screen_Shot_2016_05_19_at_5_41_50_AM.png)

😢

Xcode 7.3
Build version 7D175
Node version: v5.10.1
Cordova version: 6.1.1

[2016-05-19 10:05] roblav96 commented on #129
Commenting out the line fixes it.

[2016-05-25 00:35] shazron commented on #129
Repro'ed.

Using cordova-cli 6.2.0 and cordova-ios 4.1.1 in a new project.
Xcode 7.3.1

[code]

[2016-05-25 00:39] shazron commented on #129
It just doesn't like the `(long)` cast, removing it fixes it. statusCode is a `NSInteger` which is already defined as a long.

[2016-05-25 00:46] shazron commented on #129
Filed PR #131

[2016-05-25 00:47] #129 closed

[2016-05-26 19:51] roblav96 opened #132 "[iOS 9.3.2] Syncs content into wrong cordova.file.dataDirectory folder"
Since updating my devices to iOS 9.3.2 files are synced to the incorrect `cordova.file.dataDirectory` path.

![console](http://s33.postimg.org/59u1037ov/Screen_Shot_2016_05_26_at_3_46_42_PM.png)

Notice the files are being saved to my `/Library/` and not `/Library/NoCloud/` like `cordova.file.dataDirectory` reports.

[2016-05-29 17:33] slashmobilitysl opened #133 "Typescript support"
It would be nice if you added a typing for this plugin, to be used with Typescript (for instance, in a Angular 2 app).

I made a gist [here](https://gist.github.com/slashmobilitysl/a1899133a46f73a6a66654e1451b4791) containing mine, but I don't know where/how do you want to keep it in your repo.

[2016-05-31 12:36] hosshoss opened #134 "Protect Zip file by password"
Hello,

I have a question, can I protect zip file by password and provide this password to the plugin to be able to extract the file ?

Thanks
Hossam

[2016-05-31 12:46] macdonst commented on #134
@hosshoss it's not currently possible but a good idea.

[2016-06-01 07:11] Avareto commented on #100
@timkim.  Thanks for the link!
One question: In your code, when you finished updating your content you are reloading the app based on the newly created root/download directory. This works perfectly, as long you don't stop and restart the App. After stop/restart the App falls back to its original location and loads the old content.
What would be a reliable handling strategy to make sure that all su

[2016-06-05 12:29] imhotep commented on #100
No drawbacks on loading from a different folder. There are different ways you can do it but the easiest way would probably be to set `document.location` to the path to your stored app when `deviceready` fires (if you have a stored app).

[2016-06-06 13:02] imhotep commented on #132
@roblav96 using the [sample](https://github.com/phonegap/phonegap-plugin-contentsync/tree/master/sample) provided in this repository and an iPhone 6S running iOS 9.3, everything gets extracted to `/Library/NoCloud/`. Do you have steps to reproduce ?

[2016-06-07 13:47] macdonst commented on #133
@slashmobilitysl why don't you add it to https://github.com/DefinitelyTyped/DefinitelyTyped and when your PR is accepted let us know and we'll add it to the docs here.

[2016-06-07 13:56] macdonst commented on #119
@graphicgeek sorry we can't reproduce. Please feel free to re-open with more info.

[2016-06-07 13:56] #119 closed

[2016-06-07 14:15] #81 closed

[2016-06-07 14:17] macdonst commented on #79
@tripodsan are you going to merge in your osx work?

[2016-06-07 14:22] #62 closed

[2016-06-07 14:24] #47 closed

[2016-06-07 14:27] #37 closed

[2016-06-07 17:12] tripodsan commented on #79
I didn't update from master for a long time, and I consider redo the integration so that we can share the same code base as iOS...but I need to allocate some time for that.

[2016-06-08 13:31] #118 closed

[2016-06-08 13:48] #110 closed

[2016-06-08 14:10] #49 closed

[2016-06-08 17:16] josh-m-sharpe commented on #118
Thanks for the response!!

[2016-06-14 19:31] graphicgeek commented on #119
I've been working on other projects, but finally came back to this. Turns out it was just a stupid mistake on my part. I was passing an integer as the id property instead of a string, which caused the plugin to do nothing. I converted to a string, and it works fine.

Thanks!

[2016-06-21 08:25] #126 closed

[2016-06-21 08:28] dmaus commented on #128
I have the same problem.
`APPHOST9624: The app can’t use script to load the  "ms-appdata:///local/myapp/index.html" url because the url launches another app. Only direct user interaction can launch another app.`
I tried to set `<allow-navigation href="*" />` in config.xml but it doesn't work. Any ideas?

[2016-06-21 11:23] macdonst commented on #128
I think you are running into a limitation of the Windows platform. Let me see if I can get someone to answer this definitively for you.

[2016-06-21 11:35] dmaus commented on #128
OK thanks. That would be bad, because the whole "update over the air" solution wont work for windows...

[2016-06-21 17:19] purplecabbage commented on #128
Unfortunately Windows does not allow this functionality.

[2016-06-21 17:19] #128 closed

[2016-06-22 06:49] purplecabbage commented on #134
I would recommend that you deliver the zipped file over https

[2016-06-29 14:18] hosshoss opened #135 "windows phone 8.1 redirect to extracted content"
Hello,

I have manage to make the plugin works in both android and iOS.

I tried to run code on windows phone 8.1 "windows platform", it successfully downloaded the new content and extracted it in data directory, but when I tried to redirect to the new downloaded html in data directory using this code:

`  sync.on('complete', function (data) {
             path = data.localPath;
            window

[2016-07-01 16:28] dmaus opened #136 "sync.cancel(); not working propperly on second cancel()"
When canceling the sync process the first time, it works perfectly.
Starting the same process again and cancel again, contentsync still downloads the file.

It's easy to reproduce from the sample code. Just put sync.cancel() in the progress-callback and start it two times.
[code]
Only tested on iOS.

[2016-07-01 16:31] dmaus commented on #135
I had the same problem, but there is no soloution yet.
 #128 "Unfortunately Windows does not allow this functionality."

[2016-07-09 09:29] realn3rd opened #137 "Full working sample"
Can anyone give an full working example for downloading, extracting und redirecting to the extracted content?

[2016-07-11 11:50] imhotep commented on #137
Yes [here](https://github.com/phonegap/phonegap-plugin-contentsync/tree/master/sample)

[2016-07-11 12:18] realn3rd commented on #137
It work's finde, but when i restart the app, the old local content appears.

[2016-07-11 12:24] imhotep commented on #137
Right. The plugin doesn't manage content for you. It just syncs content to stores it to some permanent location. There are different ways you can manage content and it's up to you how you want to do that.

[2016-07-11 12:25] #135 closed

[2016-07-11 12:27] realn3rd commented on #137
How can I add a simple test routine to the app?

[2016-07-14 13:46] realn3rd commented on #137
any idea?

[2016-07-14 14:03] imhotep commented on #137
@realn3rd what do you mean by simple test routine ?

[2016-07-14 14:07] realn3rd commented on #137
A simple way to test on app start if content were already downloaded und redirect to this content.

[2016-07-14 14:09] realn3rd commented on #137
Maybe something at device-ready-event?

[2016-07-14 23:11] realn3rd commented on #137
Nice, but it doesn't work :/

[2016-07-15 09:32] imhotep commented on #137
What doesn't work ? Could you be more specific ?

[2016-07-15 09:36] realn3rd commented on #137
The App shows only the local content, not the cached after restarting it.

[2016-07-15 10:46] imhotep commented on #137
@realn3rd did you set `document.location=data.localpath`in the `complete` callback ?

[2016-07-15 13:40] realn3rd commented on #137
Yes
[http://pastebin.com/hsRCNKzA](http://pastebin.com/hsRCNKzA)

[2016-07-19 06:47] jony89 opened #138 "pack files in the zip exported by Phonegap Build"
I'm trying to add some files so the Phonegap Build in AEM (in the Adobe Exprience Manager board) will add my folder under etc\clientlibs  .

this should be a simple task.

for example currently under :
www\etc\clientlibs

i have angularjs.js and i want to add some more file to this (actually a full folder)

what i have tried is to add a node under

content/phonegap/app_name_placeholder/shell/pge-a

[2016-07-20 08:11] jony89 commented on #138
for others,
i needed to add a node under app-config (in /content) which has type "copy" and refers to the folder i wanted .

[2016-07-23 16:12] realn3rd commented on #137
Any idea?

[2016-08-02 00:40] imhotep commented on #137
@realn3rd sorry for delay. You can try to use the following (on iOS 9+ and above) if you're using WKWebView:

`ContentSync.loadUrl(YOUR_URL)`

I've updated the sample in the repository to reflect this.

[2016-08-06 08:42] seematalanki opened #139 "Sync api on universal windows platform"
Hi,
I see that the project source has files related to windows universal app even though the documentation says wp8.
The plugin reaches till startDownload function and calls download.startAsync(), but does not fire complete, error or progress handlers.

[2016-08-08 11:38] #138 closed

[2016-08-26 18:56] macdonst opened #140 "Version numbers do not match"
Version numbers should match in plugin.xml and package.json

[2016-09-13 19:13] WorldWarMe commented on #132
@imhotep Sorry to be tardy to the party. I can confirm this issue by simply calling the function as so:
[code]
Using iPhone 6 @ 9.3.5
The file always appears to be placed in the `../Library/` storage instead of `../Library/NoCloud/`

[2016-09-13 19:26] html-rulez-d00d opened #141 "iOS Aggresive Caching"
I noticed my file was not being updated correctly using the default `options.type` of **replace**. Seems a temporary form of remediation is to append a random string to the `options.id`, like so:
[code]
I'm surprised no one else is having this issue (or I'm missing something). At the very least, it is worth mentioning in the documentation to prevent people from getting snagged.

Issue witnessed on

[2016-09-15 20:23] imhotep commented on #141
This shouldn't happen as replace [deletes](https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/ios/ContentSync.m#L396) the previous archive and extracts the new one. Are you seeing that your folder already exists in your Logs (in XCode) ?

[2016-09-15 21:13] imhotep commented on #132
@html-rulez-d00d are you using copyRootApp option? There might be an issue there but otherwise I cannot reproduce the issue as the application path is always [prefixed](https://github.com/phonegap/phonegap-plugin-contentsync/blob/master/src/ios/ContentSync.m#L47) with `NoCloud`.

[2016-09-15 21:51] html-rulez-d00d commented on #141
What version of iDevice are you using?

[2016-09-15 21:54] html-rulez-d00d commented on #132
I am not using copyRootApp. This is occurring on multiple iPhones and I am using the simple configuration displayed in my initial comment.

[2016-09-16 17:19] imhotep commented on #141
I usually test on iPhone 5, 5S and 6+ on iOS 9.

[2016-09-16 17:29] imhotep commented on #132
@html-rulez-d00d then I am sorry. I can't reproduce it. If you want to upload a sample app somewhere, I'd be happy to give it a try!

[2016-09-16 21:30] html-rulez-d00d commented on #141
This is only an issue on iOS devices for me. Android works perfectly fine. I'm not sure what to make of it outside of a persistent caching issue. You could mark this issue "closed" and just add a blurb in your documentation stating if someone is having an issue with the file being replaced, to just append a random string to the id.

[2016-09-16 21:36] html-rulez-d00d commented on #132
Sorry, the app I have is my employer's property so I'm sure I have no options to supply the current version. Also, I don't have access to a Mac outside of work so... I guess this will always be a mystery then. Perhaps @roblav96 could supply a sample of his app for evaluation since we both have the same issue.

[2016-09-19 21:40] imhotep commented on #141
Yes I test on physical devices

[2016-09-19 21:40] #141 closed

[2016-09-20 15:39] aramando commented on #88
Be great to see a fix for this. We have an Android app that can only be updated by publishing an AEM shell update; app store updates have no effect because the updated files aren't being copied to the app's local storage where they are run from.

[2016-09-22 17:48] jcf120 opened #142 "iOS 10 - Many files served from Library have lost MIME Type"
After upgrading to iOS 10 all my svg images are no longer drawing. On closer inspection, their MIME Type has changed to `application/octet-stream`. (It was `image/svg+xml` under iOS 9.3.) In fact all files apart from index.html have the same issue, but it seems the webView is able to make sense of them despite the mismatch.

<img width="487" alt="screen shot 2016-09-22 at 17 11 57" src="https://cl

[2016-09-22 18:26] jcf120 commented on #142
I've put together a fix that skirts the problem by explicitly setting the MIME Type, rather than relying on Apple's API to work it out.

[2016-09-23 16:51] kleeb commented on #100
This simple script should do the thing if you have all content inside the package, but it needs some updating from time to time:

`    document.addEventListener('deviceready', function() {
        var sync = ContentSync.sync({id: 'ionapp', type: 'local'});
        sync.on('complete', function(data) {
            if(data.localPath) {
              var url = 'file://' + data.localPath + '/www/index.

[2016-09-27 07:33] mansimarkaur commented on #136
I'd like to work on this as my first contribution. Can you please help me get started with it?

[2016-09-27 22:09] imhotep commented on #136
@mansimarkaur For sure! Fork this repository, make your changes in separate branch and submit a pull request please.

[2016-09-27 22:57] KimberleeDArmstrong opened #145 "Don't Have loadURL function"
cordova version :  6.3.1
cordova ios platform version: 4.2.1
XCode version: 8.0
iOS Version: 10.1
ContentSync version: 1.2.3
WKWebViewEngine version: 1.1.0

When I look at "ContentSync.m" or go into the javascript console and type "ContentSync."  There is no function loadURL available.

I am wanting to use loadURL function because document.location = data.localPath + '/index.html' is returning an

[2016-09-28 14:50] KimberleeDArmstrong commented on #145
OK. So I added the plugin using cordova plugin add phonegap-plugin-contentsync and did not have the loadURL function.  That was my fault.  I added it using cordova plugin add https://github.com/phonegap/phonegap-plugin-contentsync and now I do have the loadURL function.

However the error is the same with the ContentSync.loadUrl call "Failed to load resource: The operation couldn't be completed. O

[2016-09-29 17:56] imhotep commented on #145
@KimberleeDArmstrong do you have a sample code that we can try ? I haven't had any issues using loadUrl. Are you using WKWebView ?

[2016-10-06 20:09] LarsVoith opened #146 "This plugin is not supported on phonegap build using CLI 6.3.0"
Getting the Error - A plugin in your app does not support the compulsory arm64 (64-bit support) architecture(ios).  When i comment out the plugin the build succeeds.

[2016-10-07 11:27] LarsVoith commented on #146
FYI - I found out this will only give this error if i have hydration enabled.

[2016-10-07 13:46] kleeb opened #147 "Sync on complete always returns TRUE cached flag."
On the first run of the app I am running

`var sync = ContentSync.sync({id: 'app', type: 'local'});`
`sync.on('complete', function(data) {...`

just to check if the app has cached data, and it properly responds with error

on the second and next runs however I am always getting data.cached=true, even though no data has been cached, which ends up with fatal error ERR_FILE_NOT_FOUND.

[2016-10-07 14:42] #145 closed

[2016-10-08 00:03] timkim commented on #147
Hi @kleeb

What version of the plugin are you using and on which platform?

[2016-10-08 00:05] #140 closed

[2016-10-08 00:18] timkim commented on #139
Hi @seematalanki

Sorry about the long reply, but I believe those files associated with the Windows Universal app were some discovery work to see if we could get things working on WP10.

This plugin is for WP8 and WP8.1 only.

[2016-10-08 00:18] #139 closed

[2016-10-10 07:28] kleeb commented on #147
I am checking the latest version on Android 6.

And this looks weird for Android:

`result.put(PROP_CACHED, type.equals(TYPE_LOCAL))`

isn't it always true when we choose local sync?

Shouldn't it be more something like:

`result.put(PROP_CACHED, new File(outputDirectory + "/www/").exists())` ?

[2016-10-18 22:18] #142 closed

[2016-10-24 05:09] tripodsan commented on #79
I finally got around and looked into it. see #148

[2016-10-31 19:26] ttahmouch opened #149 ".podspec"
We have a **native** `iOS` application that contains `CDVViewController`s. It was not generated using the `cordova create` CLI.

We would like to be able to depend on `phonegap/phonegap-plugin-contentsync` using `Cocoapods` much like the **Embedding the Webview** example demonstrates for `apache/cordova-plugin-*` plugins [here](http://docs.phonegap.com/tutorials/develop/1-embed-webview/ios/#pods).

[2016-10-31 21:05] purplecabbage commented on #149
Yeah, this is in the works. No specific timeline yet.

[2016-10-31 21:12] mnewmedia opened #150 "ios with basic auth fails at validation of url"
Hi, since port 443 is already used for other stuff. I used port `80` which redirects to port `7070`.
I also use `basic auth`. But with both ports i'll get the error `Invalid src`.
Example:
[code]

So I tried also other stuff:
Using Port `7070` without `basic auth` goes to 16 percent and then sticks in a loop with `task failed` error.

Using Port 80 without `basic auth` works.

My Basic Auth code:

[2016-11-01 09:14] mnewmedia commented on #150
I never used objective-c before but while trying to read the code i may found something:

[code]
As far as i understand before downloading the content, you do just a synchronus request to check if the url is correct and the server gives answer. But i do not see anything about the basic auth here, so i suspect it will always return an error because the server responds with 403.

[2016-11-01 11:21] mnewmedia commented on #150
My assumption was correct, tried, tested, and created a PR.

[2016-11-01 11:25] macdonst commented on #150
Yeah, but don't close the issue until we get a chance to merge the PR.

[2016-11-01 14:38] #150 closed

[2016-11-03 11:38] ttahmouch commented on #149
I just created pull request #152 as an example of changes that may be necessary to support **Cocoapods** with this plugin.

Let me know your thoughts.

[2016-11-07 14:01] macdonst commented on #149
@ttahmouch thanks for the PR and issue. @hollyschinsky and I were just talking about this last week.

[2016-11-07 16:30] #147 closed

[2016-11-07 23:08] macdonst commented on #149
@ttahmouch @hollyschinsky can you take a look at this PR on CocoaPods/Specs to make sure I've got it right: https://github.com/CocoaPods/Specs/pull/14215

[2016-11-08 19:52] #146 closed

[2016-11-09 09:48] ttahmouch commented on #149
I cloned your fork, i.e., `macdonst/Specs`, and checked out branch `contentsync`.

I looked at the difference between `1.2.5.cocoapods` and `1.3.0` `.podspec`s as shown below. It appears the only changes are the version of the `.podspec`, and the version of the tagged release. I believe that is everything I expected would change if pull request #152 was merged.

It appears [CocoaPods/Specs#14215](

[2016-11-09 19:32] ttahmouch commented on #149
I just noticed a small problem with the way I had originally written the `.podspec`. I didn't know at the time what **iOS Deployment Target** to specify so I just didn't specify a target.

However, now when you `pod install` `phonegap-plugin-contentsync`, it defaults the **iOS Deployment Target** to `4.3`. This causes a problem when compiling `ContentSync.m` with usages of `__weak`. This should be

[2016-11-10 17:17] macdonst commented on #149
@ttahmouch awesome, I dealt with some Ruby craziness this morning and will hopefully be able to publish a pod today or tomorrow.

[2016-12-02 13:56] ttahmouch opened #155 "`ContentSync.loadUrl` interface documentation doesn't reflect implementation."
**JavaScript** implementation of `ContentSync.loadUrl` follows.

[code]

**Notice:** A callback is passed to `exec` for **success** and **failure**.

**Objective-C** implementation of `- (void)loadUrl:(CDVInvokedUrlCommand*) command` follows.

[code]

**Notice:** A **success** or **failure** result, i.e., `[CDVPluginResult resultWithStatus:CDVCommandStatus_ERROR ...]` or `[CDVPluginResult resultWi

[2016-12-02 14:03] ttahmouch commented on #149
Did you have any issues attempting to publish the `1.3.0` `.podspec`, @macdonst ?

[2016-12-08 11:49] bhellema opened #156 "[iOS] - Requesting an resource with the same id does not replace the resource by default"
According to the options.type documentation the default behaviour is to delete the old content and cache the new content.  On iOS this does not seem to be the case.

Using the following call:

[code]

results in:

![image](https://cloud.githubusercontent.com/assets/6395150/21008930/f9fe6ebe-bd11-11e6-8614-f12ef1bcf2a6.png)

From the logs:

[code]

[2016-12-09 21:55] imhotep commented on #156
What does the URL look like?

[2016-12-09 23:35] #155 closed

[2016-12-12 13:52] macdonst commented on #149
@ttahmouch only lack of time because of other work but I've got this on my radar this week.

[2016-12-13 03:57] macdonst commented on #156
@bhellema check out the latest code from master and let me know if it fixes your issue.

@imhotep can you give the latest commit a once over?

[2016-12-13 12:27] imhotep commented on #156
@macdonst I would also check for the type just to be safe and move it to line 402 before this [if statement](https://github.com/phonegap/phonegap-plugin-contentsync/blob/2c3f236a1da2e8ca2aebf609fddf2ee6d9c0078a/src/ios/ContentSync.m#L403).

[code]

I would also remove this [code](https://github.com/phonegap/phonegap-plugin-contentsync/blob/2c3f236a1da2e8ca2aebf609fddf2ee6d9c0078a/src/ios/ContentSy

[2016-12-14 16:14] #156 closed

[2016-12-15 12:34] DhiaNHM opened #157 "CopyRootApp issue with app store updates"
We've been having the same problems as in issues #73 and #88, where the copyRootApp functionality in the plugin only works on a fresh installation.  So we're unable to update via app-store download (which is sometimes preferred for bigger releases etc.) and have to use the contentsync for our AEM apps.

Additionally things like plugin updates or additions or initialization script changes (code whi

[2016-12-19 16:42] arumsey opened #158 "Expose HTTP Response codes"
The `ContentSync.ERROR_STATE` `INVALID_URL_ERR` does not provide enough information on why the sync failed since this error also includes response codes that are >= 400.

Would it be possible to expose the server HTTP response code during a sync so that a client could throw a more useful error message if it chooses?

[2016-12-20 16:36] macdonst commented on #158
@arumsey can you give content sync a try from master and see if that fits your needs. If so I'll release a new version.

@imhotep when you get a chance give my iOS changes a quick review.

[2016-12-20 18:05] imhotep commented on #157
@DhiaNHM how would you update plugins' native code without submitting to the app store? You should be able to update your updates/additions/initialization scripts or any other resources via contentsync.

[2016-12-21 10:56] DhiaNHM commented on #157
Hi,
With the current plugin code it seems impossible to use the app store to update an app (since the copyRootApp functionality only runs once on a fresh install).

i see the root of the problem being this logic (android sync.java v:1.3.0:

                if (type.equals(TYPE_LOCAL) && **!dir.exists()**) {
                    if ("null".equals(src) && (copyRootApp || copyCordovaAssets)) {

[2016-12-22 16:59] tomasantunes opened #160 "Cross origin error"
I'm trying to read a downloaded json file but I get a cross origin error.

My code is:

[code]

[2016-12-22 17:15] macdonst commented on #160
@tomasantunes I'm not a big user of jQuery but there is probably a parameter you can pass to allow cross origin or possibly you are using an old version of jQuery as it should allow cross origin to file:// paths.

You can just use regular AJAX code:

[code]

[2016-12-23 12:20] tomasantunes opened #161 "404 not found"
I followed the sample code but I can't read any files.
I get a 404 not found error.

Here is the code:
[code]

[2017-01-03 23:28] imhotep commented on #161
@tomasantunes Have you tried just using `document.location`?

[2017-01-03 23:37] imhotep commented on #157
@DhiaNHM Oh I think I see what you mean. Does this problem occur on iOS as well?

[2017-01-04 19:50] macdonst commented on #157
@DhiaNHM @imhotep my alternative thought is for the content sync plugin to detect a change in the app version and then have `copyRootApp` and `copyCordovaAssets` to function if set?

[2017-01-04 22:14] imhotep commented on #157
@macdonst I like that. We'd have to keep track of versions but I am fine with that.

[2017-01-05 15:30] DhiaNHM commented on #157
Thanks both,
my fork leaves the app version comparison to be handled in the main app's code not the plugin, will you be modifying the plugin to use an additional local storage variable to keep track of app versions?

[2017-01-05 15:35] macdonst commented on #157
@DhiaNHM my thought would be for the plugin to store the app version number in whatever platforms permanent storage. I wouldn't use localStorage as it could be cleared. Probably won't get a chance to fix this until early next week.

[2017-01-05 16:07] DhiaNHM commented on #157
@macdonst - thanks, that makes sense to me, it's probably as you'd expect it to behave in most situations.

For my fork i coded it for our specific environment where we have the possibility that the 'shell' contentsync package might actually be more recent than the last store version (i.e. we did some minor css/JS changes that didn't warrant an app store release and were instead released via conte

[2017-01-10 02:10] macdonst commented on #157
@DhiaNHM I've created a branch `issue157` to fix the bug. I'm going with the approach of checking to see if the app version has been updated. That way `local` will do the `copyRootApp`/`copyCordovaAssets` steps again.

For your issue with the three possible `shell` versions we'll have to work with the AEM team on that one to make it easier.

[2017-01-11 11:03] DhiaNHM commented on #157
@macdonst That's great, thanks for looking at it so quickly.
Will this fix work for IOS as well?, noticed the IOS code hasnt been modified in the 157 branch.
Also how will it behave on a current build where the app version hasnt been stored by the current version of the plugin?

[2017-01-12 11:47] kgmav opened #162 "Replace of data after connection aborted (HTTP code 400 or 500)"
this problem occours on Android

the download function in Sync.java returns a true if the connection get a HTTP code != 200.
If the connection aborted the exception is catched here and after finaly the function is leave with a true  	in place of false

[code]

[2017-01-13 16:04] macdonst commented on #157
@DhiaNHM I've pushed up the changes for Android and iOS to the `master` branch. Can you give it a try on your end?

If they app version hasn't been stored then the test for `hasAppBeenUpdated` should return `true` and the local sync with `copyRootApp` will happen if set to `true`.

Let us know here how things go and if everything looks good to you we'll release a new version with the bug fix to NP

[2017-01-16 10:54] DhiaNHM commented on #157
@macdonst - thanks again for this, We've tested it on our 2 apps and it's working great, so we're hoping to include it in our next version.

[2017-01-16 11:38] macdonst commented on #157
@DhiaNHM okay great, I'm about to get on a plane but I will release a new version to NPM today and tell the AEM team to update their dependences.

[2017-01-16 17:10] macdonst commented on #157
@DhiaNHM I pushed version 1.3.2 to NPM and I'm closing this issue.

[2017-01-16 17:10] #157 closed

[2017-01-16 17:11] #158 closed

[2017-01-17 22:48] macdonst commented on #162
@kgmav can you install the latest from `master` and let me know if it fixes your specific issue?

[2017-01-18 05:39] bugsmafia opened #163 "contentsync/Sync.java:304: error: ';' expected"
/project/src/com/adobe/phonegap/contentsync/Sync.java:304: error: ';' expected
                    retval = false
                                  ^
/project/src/com/adobe/phonegap/contentsync/Sync.java:316: error: ';' expected
                                retval = false
                                              ^
/project/src/com/adobe/phonegap/contentsync/Sync.java:331: error: ';' expect

[2017-01-18 05:40] bugsmafia commented on #162
/project/src/com/adobe/phonegap/contentsync/Sync.java:304: error: ';' expected
                    retval = false
                                  ^
/project/src/com/adobe/phonegap/contentsync/Sync.java:316: error: ';' expected
                                retval = false
                                              ^
/project/src/com/adobe/phonegap/contentsync/Sync.java:331: error: ';' expect

[2017-01-18 15:19] ptit6sky commented on #163
Fixed in following pull request.

#164

[2017-01-23 07:00] macdonst commented on #163
@bugsmafia @ptit6sky and this is why you shouldn't release code on a plane. I just pushed a 1.3.3 to npm.

[2017-01-23 07:00] #163 closed

[2017-01-23 14:55] kgmav commented on #162
@macdonst yes that it's

[2017-01-23 14:55] #162 closed

[2017-01-23 18:58] macdonst commented on #161
Closing, no response in a month.

[2017-01-23 18:58] #161 closed

[2017-01-23 18:58] macdonst commented on #160
Closing, no response in a month.

[2017-01-23 18:58] #160 closed

[2017-01-30 17:03] aramando opened #166 "copyRootApp wipes entire existing cache"
v1.3.2 (i.e. the fix for #157) seems to have changed the behaviour of the plugin on iOS only so that performing an app root copy *replaces* the entire destination cache directory for the app rather than just overwriting the copied files. Is this intentional?

Unfortunately this has caused us a big headache because our app is written such that content downloads are merge-synced into a subdirectory

[2017-01-30 23:35] macdonst commented on #166
@aramando so you push a new app store update but don't include the incremental updates you've done OTA? Just want to make sure I have the use case correct before we make any more changes.

[2017-01-31 09:35] aramando commented on #166
@macdonst We're currently operating 2 apps that use this plugin. One of them bundles *all* content in the binary and only downloads OTA updates when content is published that is newer than the app store release. But the other is just a shell which only downloads any actual content after the user has selected a language on first run, which is to avoid making them download a ~30MB app only to then h

[2017-01-31 09:47] aramando commented on #166
@macdonst We're currently running 2 apps that use this plugin. One of them bundles all the content in the binary and only downloads OTA updates when newer content is available, but the other is just a shell which only gets any actual content after the user has selected a language on first launch and the appropriate language content package is downloaded. This is to avoid making them download a ~30

[2017-02-06 22:08] noozoo opened #167 "Clearing cache on Android device is ineffective."
@macdonst As mentioned privately.
Nexus 6 with Android 7.0.
If I first clean the cache and data of my app, then uninstall the app, and then reinstall it, I see the old javascript running when I inspect in Chrome://inspect.

Any workaround you know of would be helpful.

[2017-02-06 22:10] noozoo commented on #167
Update.  After clearing the cache and data, uninstalling, **_and then restarting my phone_**, the new code is in there.

[2017-02-07 10:31] aramando commented on #167
It's almost certainly caused by [Auto Backup for Apps](https://developer.android.com/guide/topics/data/autobackup.html). When reinstalling an app, its data is restored from a backup associated with your Google account.

The solution is simply to clear the app data **_after_** you install the new version of the APK. You don't need to uninstall the existing version first or restart the phone.

You c

[2017-02-07 14:20] noozoo commented on #167
When you clear the cache or uninstall there ought to be an option to remove the backups, too.  Something Google is working on, hopefully.

[2017-02-07 14:53] macdonst commented on #167
@noozoo @aramando What do you guys think about changing the sync directory to the one returned by `getNoBackupFilesDir`? This lines up with iOS as it stores the sync data in a location that is not backed up to iCloud.

[2017-02-07 15:02] aramando commented on #167
@macdonst I can't think of a reason not to.

[2017-02-07 16:12] noozoo commented on #167
That will prevent that backup from happening for the app?

[2017-02-07 16:20] aramando commented on #167
Presumably it would only prevent the backup of files copied from the app binary or downloaded from the remote content source (e.g. the AEM server), which I don't imagine would ever be required to be backed up (since they can just be re-copied/downloaded).

I suppose it could be made into a plugin config option, defaulting to storing files in no-backup location, but with the option to change that.

[2017-02-07 18:30] macdonst commented on #167
@mnew can you try the issue167 branch?

[2017-02-07 19:57] mnew commented on #167
Fyi...Wrong mnew.
Cheers

⁣Sent from BlueMail ​

On Feb 7, 2017, 10:30, at 10:30, Simon MacDonald <notifications@github.com> wrote:

[2017-02-07 20:00] noozoo commented on #167
There's another!

[2017-02-13 09:43] aramando commented on #166
@macdonst I've realised that the copy operation that occurs as part of a local sync of the root app files would always have obliterated any existing cache on iOS, it's just that until the introduction of the version check in v1.3.2 that copy operation wasn't even happening if there was an existing cache. The problem is basically that NSFileManager doesn't provide a method that can copy _and merge_

[2017-02-24 00:36] imhotep commented on #166
@aramando Do you mind trying [this fix](https://github.com/phonegap/phonegap-plugin-contentsync/tree/copyRootApp) and letting me know if it works for you?

[2017-03-03 11:28] aramando commented on #166
@imhotep Initial tests look good. I just did a version bump and rebuilt+reinstalled an app and it didn't remove the existing files, but did update them where appropriate.

[2017-03-03 12:37] macdonst commented on #166
@aramando when you get done your testing please let us know and we'll release a new version to npm.

[2017-03-11 12:47] pitAlex opened #170 "java.lang.NullPointerException: Attempt to get length of null array"
Hello,

One of our users keeps getting a crash on the android app with the following message:

java.lang.NullPointerException: Attempt to get length of null array
	at com.adobe.phonegap.contentsync.Sync.removeFolder(Sync.java:1123)
	at com.adobe.phonegap.contentsync.Sync.removeFolder(Sync.java:1124)
	at com.adobe.phonegap.contentsync.Sync.removeFolder(Sync.java:1124)
	at com.adobe.phonegap.content

[2017-03-13 16:09] macdonst commented on #170
@pitAlex what version of the plugin are you using in your app?

[2017-03-13 17:45] pitAlex commented on #170
1.3.3

[2017-03-15 14:26] ramboz commented on #170
Should be fixed by the following PR: #171

[2017-03-15 14:29] macdonst commented on #170
Thanks @ramboz, I already merged your PR. I'll look at releasing a 1.3.4 shortly.

[2017-03-15 16:28] macdonst commented on #170
Fixed in 1.3.4.

[2017-03-15 16:28] #170 closed

[2017-03-29 13:27] jplucinski opened #176 "Downloading and unzipping updates with big amount of files freezes application."
Our project is based on https://github.com/Adobe-Marketing-Cloud-Apps/aem-phonegap-starter-kit. Content sync is running on application startup, when splash page is displayed. Users with older devices need to wait up to 30 seconds for app to initialize, that’s why we decided to run content sync in background thread.

Actual result:
Application freezes during content sync on iOS devices.

Expected:

[2017-04-12 19:35] macdonst commented on #167
@noozoo did you get a chance to test the issue167 branch?

[2017-04-12 19:35] macdonst commented on #176
@jplucinski I know you did some work on this. Do you want to send a PR?

[2017-04-12 19:44] noozoo commented on #167
No it did not, sorry.  A lot has happened, and as you know, we've been moved to other things.

[2017-04-12 19:46] macdonst commented on #167
@noozoo is the ticket getting passed on to someone else to resolve?

[2017-04-12 20:00] noozoo commented on #167
@macdonst I don't think we have a Jira ticket for this.

If you like I could create one and assign it to Rofe, but I don't know when it'll get looked at...

[2017-04-12 20:00] macdonst commented on #167
@noozoo please do

[2017-04-12 20:12] noozoo commented on #167
@macdonst  Done: https://jira.corp.adobe.com/browse/CQ-4205539

[2017-04-18 06:18] noka03 commented on #167
It looks like changing this location puts the sync'd files in a location that is very slow to read from when using the cordova-file-plugin rather than the read write location provided by cordova.file.dataDirectory which is reasonably fast.

[2017-04-18 18:19] zgelici opened #179 "Problem with build.phonegap"
Hello,

I am trying to use this plugin, but it doesnt work. i use the default hello world of phonegap with all permissions. Than i replaced the index.html en js file with the example. Too build i used build.phonegap.com. But when i try to test it, the download sync is succesfull, but the content isnt replaced.

Does someone know how to fix it.

Config of the file:

`<?xml version='1.0' encoding='u

[2017-04-19 10:08] #179 closed

[2017-04-21 17:23] Frankobingen opened #180 "net::ERR_FILE_NOT_FOUND on android"
Synchronization seems to work quite well, however after the sync i do the following as shown in the example.

    sync.on('complete', function(data) {
            if(data.localPath) {
              var url = "file://"+data.localPath + "/www/index.html";
              alert('Sync complete ' + data + ' changing document.location ' + url );
              ContentSync.loadUrl(url);
              // doc

[2017-04-26 01:07] carlosmorasalguero opened #181 "Error codes improvement"
Hi, i noticed the error codes could be improved a little bit.

1: INVALID_URL_ERR // unable to connect to host
2: CONNECTION_ERR // able to connect to host, but unable to download the zip
3: UNZIP_ERR // unable to unzip the zip

For 1: INVALID_URL_ERR // unable to connect to host
the code says invalid url, but the error really means unable to connect to the host, could be due to lack for internet

[2017-05-09 21:44] kmurugesan83 opened #182 "App crashes"
Hi,

I would like to use this plugin in my phonegap app to download and cache remote app resources. However, the app crashes when it starts download. I don't know why? Got the latest version from GitHub and trying to build a sample application and it crashes. I'm testing it on Android device. Cordova version is 6.1.1.. Any help is much appreciated.

JS Code:

  function startSync() {

[2017-05-17 16:28] bshowy2k opened #183 "data.progress showing a long number"
When downloading a zip file of around 200MB and containing around 100 images, the data.progress returns a long number of 9 digits, then increase to 10, then 11 digits. According the documentation, the data.progress should return a number between 0 and 100 but in this case is not happening

[2017-05-22 21:22] timkim commented on #183
Hi @bshowy2k

Which platform is this happening on?

[2017-07-05 12:03] LarsVoith opened #184 "Not working with W10/WP10 (APPX) builds"
Will their be any future plans to support this plugin for **W10/WP10** when building an **.APPX**?  Right now the only way I can get it to work is with **WP10** and **.XAP**. Ty

[2017-07-10 15:35] macdonst commented on #184
@LarsVoith to the best of my knowledge Windows won't allow the execution of code downloaded externally from it's .appx file. That is why MS own CodePush service only works on Android and iOS.

@purplecabbage can you confirm that the above is the most up to date info?

[2017-07-10 15:44] macdonst commented on #183
Closing, inactivity. Please comment/re-open if you have more details.

[2017-07-10 15:44] #183 closed

[2017-07-10 15:46] macdonst commented on #180
@Frankobingen did you try:

[code]

[2017-07-10 15:50] purplecabbage commented on #184
It is partially possible, just not implemented and we have no resources to prioritize it.
CodePush and/or ContentSync can only work in certain contexts where a separate WebView is used.

[2017-08-18 12:55] aramando commented on #166
@macdonst Hi Simon, sorry for the massive delay in getting back to you! We've had our app running comfortably on my fork and had forgotten all about this. I've tested again using the copyRootApp branch and it's working fine and correctly updating when the app version is incremented but without removing existing files, so it doesn't mess with our updates. Feel free to merge this into your next vers

[2017-08-23 16:40] arumsey opened #185 "Google Play Blocker: Unsafe implementation of TrustManager"
Data Theorem scans identified the use of a custom X509TrustManager that does not validate SSL certificates.
Google Play will block publishing of any new apps or updates containing the unsafe implementation of the interface X509TrustManager.

The following Java classes defined within the plugin define a custom X509TrustManager that does not validate SSL certificates:

    com.adobe.phonegap.content

[2017-09-01 17:09] #185 closed

[2017-09-27 13:57] putnal commented on #180
Im having same issue with sample

[2017-09-27 15:04] macdonst commented on #180
Closing, inactivity. Please comment/re-open if you have more details.

[2017-09-27 15:04] #180 closed

[2017-11-09 21:36] blefebvre opened #186 "[iOS] copyRootApp runs a second time on the second launch of the application, overwriting updates"
### Expected Behaviour

The copyRootApp operation should not overwrite any content in the sync'd directory on subsequent runs of the app, assuming the app's version has not increased.

### Actual Behaviour

On the second run of an app that calls `.sync()` with `copyRootApp: true` set on startup, the copyRootApp operation will be performed again unnecessarily, effectively overwriting any changes th

[2017-11-09 21:47] macdonst commented on #186
@blefebvre can you try this branch to see if it fixes your problem?

https://github.com/phonegap/phonegap-plugin-contentsync/pull/169

[2017-11-09 21:48] macdonst commented on #186
@blefebvre this might be a duplicate of #166

[2017-11-09 21:52] blefebvre commented on #186
@macdonst looks to me like the code in #169 is already in master (68b70d).

[2017-11-09 21:54] blefebvre commented on #186
I should have mentioned that on run 3 (and beyond) of the app, this issue does not occur since the `previousVersion` has been set at this point (via `hasAppBeenUpdated()`), so the comparison works as expected:

[code]

[2017-11-27 22:06] blefebvre commented on #186
Fixed in 1.4.1

[2017-11-27 22:06] #186 closed

[2017-11-28 04:12] blefebvre opened #188 "[iOS] calling sync() with options.copyCordovaAssets set does not perform copy"
### Expected Behaviour

When sync() is called with `copyCordovaAssets: true`, per the README I would expect the Cordova related assets (cordova.js, cordova_plugins.js and plugins/) to be copied to the sync'd directory. This works as expected on Android.

### Actual Behaviour

On iOS, once sync() is called the app prints "Requesting local copy of <id>", but does not actually perform the copy.

None

[2017-11-28 20:05] macdonst commented on #188
@blefebvre yup, that's a bug. It only works if `copyRootApp: true`. Feel free to send a PR for this 😈

[2017-12-19 14:56] #188 closed

[2018-01-03 16:17] KimberleeDArmstrong opened #190 "Getting boringssl_session_read error"
### Expected Behaviour
Before adding the latest version of the plugin this was working.  Files were unzipped and put into the app and loaded.
### Actual Behaviour
Now I am getting this error....
2018-01-03 09:55:22.270110-0600 Lineman-App[414:198345] Resetting plugins due to page load.
2018-01-03 09:55:23.376159-0600 Lineman-App[414:198345] Finished load of: file:///var/containers/Bundle/Applicati

[2018-01-11 21:39] Mijildinho commented on #190
Same problem to me when I run my app that is calling Waston API!

[2018-01-17 17:22] ghadad opened #191 "Cached content is not found in localPath"
The sync method is end with complete but there is no files in the app cache directory . Any clue ?
Thanks

[2018-01-17 17:31] ghadad commented on #191
The sync method is end with complete but there is no files in the app cache directory . Any clue ?
Thanks

[2018-01-17 21:57] macdonst commented on #191
Sorry to be a jerk but I'm now closing issues that don't follow the issue submission guidelines. This plugin takes a lot of work to maintain and I can't afford the time required to solicit the required info from everyone.

I'm closing this issue but please feel free to re-open the issue if you provide the requested details from the new issue submission guidelines.

https://github.com/phonegap/phon

[2018-01-17 21:57] #191 closed, assigned to nobody

[2018-01-21 07:27] ghadad commented on #191
Sorry about that. you're absolutely right.

[2018-02-06 08:20] zivkashtan opened #192 "Files with unicode characters cause corrupt unzipping"
### Expected Behaviour

Files and directories need to be unzipped in the same way they were packed.

### Actual Behaviour

Some files and directories are completely missing from the unzipped version.

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

Zip a directory with a file or files with unicode characters, for me it was נonus_players-sheet0.png
(notice the נ I ac

[2018-02-22 23:29] renkosteenbeek commented on #190
So did you figure out what was wrong?

[2018-04-04 16:28] ptandler opened #193 "ContentSync.sync({id: "...", type: "local", src: "") fails to call callback on iOS"
### Expected Behaviour
When using
`sync = ContentSync.sync({id: "...", type: "local", src: ""); sync.on("error", function() {...});` on Android, the error handler gets called when there is no synced content yet.

(I believe I read somewhere in the docs that this is the suggested method to test if there is synced content already available, but I didn't find this anymore. Is this still correct usage

[2018-04-05 10:01] ptandler commented on #193
With phonegap-plugin-contentsync v1.3.6 it is working as I expect

[2018-04-11 08:50] ptandler commented on #193
The docs say at https://github.com/phonegap/phonegap-plugin-contentsync#working-with-the-native-file-system that I can use this code to get the local filesystem path:

[code]

Does someone know if it is a supported usage of the plugin to use this with undefined `src` to test if there is data already available (downloaded during a previous app start)?

[2018-04-11 09:36] ptandler commented on #193
I found the part in the docs https://github.com/phonegap/phonegap-plugin-contentsync#api

So, I think this _should_ work and the handler _should_ be called.

[2018-04-11 09:49] ptandler opened #194 "When calling ContentSync.sync({type: "local", ...}) the "PREVIOUS_VERSION" is not set if local content does not exists yet"
### Expected Behaviour
The NSUserDefaults @ "PREVIOUS_VERSION" should also be set when the option `type` is not "local".
In fact, it should be set when s.th. is downloaded.

### Actual Behaviour
Currently, the "PREVIOUS_VERSION" is set in hasAppBeenUpdated, which is _only_ called if `type==="local" && [fileManager fileExistsAtPath:[appPath path]]`.

So, if the path doesn't exist yet, the "PREVIOUS

[2018-06-01 14:41] Rafaelferreiraalves opened #195 "### Problems with ContentSync.sync function #bug"
I have an application that makes use of the plugin.
At a certain point I use the ContentSync.sync function to make a call to a web api made in C #. Everything happens perfectly when in the call I put the IP but if I switch to HOSTNAME me the plugin presents errors. Can someone help me ?

---------------
function below

   function syncApp(localServiceBus, appIndo) {
            var sync = ContentS

[2018-09-26 07:38] KannanKrishnamoorthy opened #196 "iOS 12 Crash"
App got crashed after iOS 12 update.
We got below details regarding content sync crash issue.

Issue Details :
Fatal Exception: NSInvalidArgumentException
 -[NSURL URLByAppendingPathComponent:]: component, components, or pathExtension cannot be nil.

ContentSync.m line 442
-[ContentSync URLSession:downloadTask:didFinishDownloadingToURL:]

[2018-11-03 00:38] timkim commented on #196
Hi @KannanKrishnamoorthy

I just tried this on Xcode 10.1, iOS 12.1 and it worked just fine for me.

Can you show how you called the the sync command? Ie, something like:
[code]

It is likely the `src` argument you are providing is wrong or malformed. In addition, you may want to actually step debug `ContentSync.m line 442` to see what value is actually passed in.

[2018-11-13 14:02] KannanKrishnamoorthy commented on #196
Hi @timkim,

Thank you for your response.
We are not changing anything in sync command for iOS 12. Our App is support from iOS 8, same argument values are passed in all iOS versions. Our App is working fine in below iOS 12 versions but crash occurred on iOS 12 only.
If src wrong or malformed means app crashed in all iOS versions right?
But we have found crash in iOS 12 only.

I have seen originalU

[2018-11-13 18:38] timkim commented on #196
Please provide a sample. I don't get the errors you are getting.

[2018-12-16 20:53] Menardi opened #198 "Path to downloaded content is no longer valid after app update"
### Expected Behaviour
The path returned in the completion handler (`data.localPath`) will always point to the downloaded data, across app updates.

### Actual Behaviour
When the app is updated, it seems that iOS assigns the app a new UUID. Since the path returned in the completion handler is based on the UUID, it is no longer valid.

For now, my workaround has been to use [cordova-plugin-file](ht

[2019-01-02 11:05] RavishankarMCA opened #199 "Content Sync failure - How to force TLS 1.2 on Android 4.1to 4.4"
#### Platform and Version Android 4.1 - 4.4

#### (Android) What device vendor (e.g. Samsung, HTC, Sony...)

#### Cordova CLI version and cordova platform version

    cordova --version                                    # e.g. 7.0.1
    cordova platform version android                     # e.g. 4.1.1

Content Sync call is failing while downloading the zip file from the AEM, Since the server stop

[2019-01-22 18:38] byronigoe commented on #88
This appears to have been fixed, so this issue should be Closed.

[2019-06-25 10:10] OoDeLally commented on #68
Same here on Android

[2019-06-25 10:12] OoDeLally commented on #16
Same here for Android

[2019-06-25 10:28] OoDeLally commented on #87
Can be overcome by wrapping it into a home-made timeout
[code]

[2019-06-25 10:40] OoDeLally commented on #68
See https://github.com/phonegap/phonegap-plugin-contentsync/issues/87#issuecomment-505385329

[2019-09-06 08:37] qroft opened #200 "Works perfect on two of four devices."
### Expected Behaviour
a) Download a zip file, extract it and save it to the **cordova.file.dataDirectory**
AND
b) Check if a folder on the external (emulated) storage exist

### Actual Behaviour
On two devices everything works fine.
On the other two neither can i
a) download a ZIP file (no error but does not even start a download)
AND
b) I can not even check if a folder exists with
`
$(".butCheck

[2020-05-18 11:32] ragcsalo opened #203 "Not working on iOS13 with WKWebView"
The sync process is successful, but I can't open the URL, it says it's outside of the sandbox:

The file I want to open is located here:

`/Users/benkesmith/Library/Developer/CoreSimulator/Devices/4CDF822C-5552-4881-BDD0-F01A0D046AF8/data/Containers/Data/Application/20E98EE5-C810-4EBB-9D04-2F26BE93CEE2/Library/NoCloud/updated/www/index.html`

Is there a workaround for WKWebView?

[2020-07-10 16:57] ragcsalo commented on #203
No news on this one? Does it mean we can't use contentsync on WKWebView? :-(

[2020-07-26 10:34] ragcsalo commented on #203
Allright... so it turned out that I had to use ContentSync.loadUrl with WKWebView to load the URL. And it works on newer devices (iOS 13 and 14 beta). But it doesn't work on iOS 10 an 12. :-( Are there any other methods that I could try to jump to the downloaded index.html file on iOS?